<% include ./header.ejs %>
<style>
	.page-2016s11 .bg1 {
		height: 480px;
		background: url(<%=helpers.staticurl('/images/2016s11/2016s11_00.jpg')%>) no-repeat center;
	}
	.page-2016s11 .bg2 {
		height: 670px;
		background: url(<%=helpers.staticurl('/images/2016s11/2016s11_01.jpg')%>) no-repeat center top;
	}
	.page-2016s11 .bg3 {
		height: 680px;
		background: url(<%=helpers.staticurl('/images/2016s11/2016s11_02.jpg')%>) no-repeat center top;
	}
	.page-2016s11 .bg4 {
		height: 700px;
		background: url(<%=helpers.staticurl('/images/2016s11/2016s11_03.jpg')%>) no-repeat center top;
	}
	.page-2016s11 .bg5 {
		height: 690px;
		background: url(<%=helpers.staticurl('/images/2016s11/2016s11_04.jpg')%>) no-repeat center top;
	}
	.page-2016s11 .bg6 {
		height: 750px;
		background: url(<%=helpers.staticurl('/images/2016s11/2016s11_05.jpg')%>) no-repeat center top;
	}
	.page-2016s11 .bg7 {
		height: 785px;
		background: url(<%=helpers.staticurl('/images/2016s11/2016s11_06.jpg')%>) no-repeat center top;
	}
	.page-2016s11 .bg8 {
		height: 1311px;
		background: url(<%=helpers.staticurl('/images/2016s11/2016s11_07.jpg')%>) no-repeat center top;
	}
	.page-2016s11 .bg9 {
		height: 286px;
		background: url(<%=helpers.staticurl('/images/2016s11/2016s11_08.jpg')%>) no-repeat center top;
	}
	.page-2016s11 .qr {
		z-index: 1;
		position: fixed;
		left: 50%;
		bottom: 400px;
		width: 330px;
		height: 336px;
		margin-left: 500px;
		background: url(<%=helpers.staticurl('/images/2016s11/qr.png')%>) no-repeat;
	}
</style><script type="text/javascript">
	
</script>
<div class="page-2016s11">
	<div class="bg1"></div>
	<div class="bg2"></div>
	<div class="bg3"></div>
	<div class="bg4"></div>
	<div class="bg5"></div>
	<div class="bg6"></div>
	<div class="bg7"></div>
	<div class="bg8"></div>
	<div class="bg9"></div>
	<div class="qr"></div>
</div>
<% include ./footer.ejs %>