<% include ./header.ejs %>
<link rel="stylesheet" href="/css/swiper.min.css" />
<link rel="stylesheet" href="/css/appinfo.css" />
<style>
  .content-wrapper{
    background-image: url('<%=helpers.drawImage(body_map.basic_image_2)%>');
    min-width: 1200px;
  }
</style>
<div class="content-wrapper">
  <div class="top">
    <div class="btn-box">
      <div class="btn-box-inner">
        <a href="<%=helpers.getGameInfo(body_map).ios_link%>" target="_blank">
            <span class="dlbtn ios_dl">
                <span>iOS下载</span>
            </span>
        </a>
        <a href="">
            <span class="dlbtn QR_dl" style="position: relative">
                <span>二维码下载</span>
                <img src="<%=helpers.drawImage(helpers.getGameInfo(body_map).qr)%>" style="position: absolute; top: -35px; display: none; left: 200px;width: 120px;z-index: 9999;">
            </span>
        </a>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="title-box">
      <img src="<%=helpers.drawImage(body_map.basic_image_3)%>">
    </div>
    <div class="screenshot-box">
      <div class="swiper-container">
        <div class="swiper-wrapper" id="gallery">
              <% pic_map.forEach(function(item,index){ %>
                <div class="swiper-slide" >
                  <div class="shot">
                    <a href="<%=helpers.drawImage(item.basic_image_1)%>"><img src="<%=helpers.drawImage(item.basic_image_1)%>"></a>
                  </div>
                </div>
              <% }) %>
          </div>
        <div class="swiper-scrollbar"></div>
        </div>
    </div>
    <div class="features">
      <dl>
        <!--                如果数量是奇数,给第一个dd加上class="single_ft"-->
        <!--                如果数量是奇数,并且当前数量是第偶数个,给dd加上style="clear:left;-->
        <!--                如果数量是偶数,并且当前数量是第奇数个,给dd加上style="clear:left;-->
        <% text_map.forEach(function(item,index){ %>
          <dd  class="<%=(text_map.length%2!=0&&index==0)?'single_ft':''%>" style="<%=(text_map.length%2!=0&&index%2==0)||(text_map.length%2==0&&index%2!=0)?'single_ft':''%>">
          <div class="ft">
            <img src="<%=helpers.drawImage(item.basic_image_1)%>">
          </div>
          <div class="txt">
            <h3><%=item.title%></h3>
            <p><%=item.sub_title%></p>
          </div>
        </dd>
        <% }) %>
      </dl>
    </div>
  </div>
</div>

<!--<a class="scroll-top-icon" id="scrollToTop"></a>-->
<script src="/js/lib/jquery.old.js"></script>
<script src="/js/lib/jquery.poptrox.min.js"></script>
<script src="/js/appinfo.js"></script>
<% include ./footer.ejs %>