<% include ./header.ejs %>
<link rel="stylesheet" href="/css/brand.css">
<div class="bd_header" style="background: url('<%=helpers.drawImage(banner1[0].basic_image_1)%>') no-repeat 50% 0">
</div>

<div class="bd_brandstory" style="background: url('<%=helpers.drawImage(banner2[0].basic_image_1)%>') no-repeat 50% 0">
  <div class="con_blank">
    <div class="story_con">
      <p><%=banner2[0].name%></p>
      <span><%-banner2[0].basic_content%></span>
    </div>
  </div>
</div>

<div class="con_blank bd_story_progress">
  <% new_story.forEach(function(item,index){ %>
    <div class="story_blank <%=index%2 !=0?'':'story_blank_right'%>">
      <img src="<%=helpers.drawImage(item.basic_image_1)%>" alt="">
      <a href="javascript:;"><%=item.name%><br><%=item.title%>>></a>
      <b><%=item.sub_title%></b>
      <p><%-item.basic_content%></p>
    </div>
  <% }) %>
</div>

<div class="bd_brand_coo">
  <div class="con_blank">
    <p class="title">品牌合作</p>
    <div class="coo_logo" id="coo_logo">
      <% brand_coo.forEach(function(item,index){ %>
        <a class="coo_logo_linka" href="javascript:;" data-index="index">
          <img src="<%=helpers.drawImage(item.basic_image_1)%>" alt="">
          <img class="disable_coo_logo" style="display: <%=index==0?'none':'block'%>" src="<%=helpers.drawImage(item.basic_image_2)%>" alt="">
        </a>
      <% }) %>
    </div>
    <div class="coo_desc" id="coo_desc">
      <%-brand_coo[0].basic_content%>
    </div>
  </div>
</div>

<div class="bd_brand_coo">
  <div class="con_blank">
    <p class="title">新品发布</p>
    <div class="bd_new_release">
      <ul id="box">
        <% news_publish.forEach(function(item,index){ %>
        <li>
          <a href="javascript:;" target="_blank">
            <img style="width: 100%;height: 100%;" src="<%=helpers.drawImage(item.basic_image_1)%>">
            <span>
              <i><%=item.sub_title%></i>
              <b><%=item.title%></b>
            </span>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>

<script>

  var coo = [
  <% brand_coo.forEach(function(item,index){ %>
    <%- JSON.stringify(item.basic_content)%>
  <% }) %>
  ]

</script>
<script src="/js/lib/jquery1.42.min.js"></script>
<script src="/js/lib/jquery.movingboxes.js"></script>
<script>
  $(function(){
    $('#box').movingBoxes({
      startPanel   : 1,      // start with this panel
      reducedSize  : .5,    // non-current panel size: 80% of panel size
      wrap         : true,   // if true, the panel will "wrap" (it really rewinds/fast forwards) at the ends
      navFormatter : function(){ return "&#9679;"; }// function which returns the navigation text for each panel
    });
  })
</script>
<script src="/js/brand.js"></script>
<% include ./footer.ejs %>