<% include ./header.ejs %>
<style>
	.bd {
		position: relative;
		height: 100px;
		width: 20px;
		margin-left: 550px;
		overflow: hidden;
	}
	
	.bd span {
		display: block;
	}
	
	.bd span:first-child {
		width: 2px;
		height: 95%;
		margin-left: 9px;
		background: #995acc;
	}
	
	.bd span:last-child {
		position: absolute;
		bottom: 0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: #995acc;
		text-align: center;
		overflow: hidden;
	}
	
	.bd em {
		display: inline-block;
		width: 14px;
		height: 14px;
		margin-top: 2.5px;
		border-radius: 50%;
		background: #FFF;
	}
</style>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/brand.css')%>">
<!--<link rel="stylesheet" href="/css/brand.css">-->
<div class="bd_header" style="background: url('<%=helpers.drawImage(banner[0].basic_image_1)%>') no-repeat 50% 0">
</div>

<div class="bd_brandstory" style="background: url('<%=helpers.drawImage(banner2[0].basic_image_1)%>') no-repeat 50% 0">
	<div class="con_blank">
		<div class="story_con">
			<p>
				<%=banner2[0].name%>
			</p>
			<span><%-banner2[0].basic_content%></span>
		</div>
	</div>
</div>

<div class="con_blank bd_story_progress">
	<%if(new_story&&new_story.length>0){%>
	<% new_story.forEach(function(item,index){ %>
	<div class="story_blank <%=index%2 ==0?'':'story_blank_right'%>">
		<div class="bd">
			<span></span>
			<span><em></em></span>
		</div>
		<div>
			<a href="/brandShow?banner=<%=show_banner[0].basic_image_1%>&name=品牌动态&tag=<%=item.tag%>"><img src="<%=helpers.drawImage(item.basic_image_1)%>"></a>
			<a href="/brandShow?banner=<%=show_banner[0].basic_image_1%>&name=品牌动态&tag=<%=item.tag%>">
				<span class="f14">
					<%=item.sub_title%><br />
				<%=item.title%><br />
				</span>
				<%=item.name%>
			</a>
			<div class="t">
				<%-item.basic_content%>
			</div>
		</div>
	</div>
	<% }) %>
	<%}%>

</div>

<div class="bd_brand_coo">
	<div class="con_blank">
		<p class="title">品牌合作</p>
		<div class="coo_logo" id="coo_logo">
			<%if(brand_coo && brand_coo.length > 0){%>
			<% brand_coo.forEach(function(item,index){ %>
			<%if(!index){%>
			<a class="coo_logo_linka" href="javascript:;" data-index="<%=index%>">
				<img src="<%=helpers.drawImage(item.basic_image_2)%>" style="display: none;">
				<img class="disable_coo_logo" style="display: block" src="<%=helpers.drawImage(item.basic_image_1)%>">
			</a>
			<%}else{%>
			<a class="coo_logo_linka" href="javascript:;" data-index="<%=index%>">
				<img src="<%=helpers.drawImage(item.basic_image_2)%>">
				<img class="disable_coo_logo" style="display: none" src="<%=helpers.drawImage(item.basic_image_1)%>">
			</a>
			<%}%>

			<% }) %>
			<%}%>

		</div>
		<div class="coo_desc" id="coo_desc">
			<%if(brand_coo){%>
			<%for(var i = 0,len = brand_coo.length; i < len; i++){%>
			<%if(!i){%>
			<div style="display: block;">
				<%-brand_coo[i].basic_content%>
			</div>
			<%}else{%>
			<div style="display: none;">
				<%-brand_coo[i].basic_content%>
			</div>
			<%}%>

			<%}%>
			<%}%>
		</div>
	</div>
</div>

<div class="bd_brand_coo">
	<div class="con_blank">
		<p class="title">新品发布</p>
		<div class="imagesSwitch" id="imagesSwitch">
			<a href="javascript:;" class="btn">
				<span></span>
			</a>
			<div class="imgBox">
				<ul>
					<%if(news_publish && news_publish.length > 0){%>
					<% news_publish.forEach(function(item,index){ %>
					<li>
						<a href="javascript:;" target="_blank">
							<img style="width: 100%;height: 100%;" src="<%=helpers.drawImage(item.basic_image_1)%>">
							<span>
              <i><%=item.title%></i>
              <b><%=item.name%></b>
            </span>
						</a>
					</li>
					<% }) %>
					<%}%>
				</ul>
			</div>
			<a href="javascript:;" class="btn btn_r">
				<span></span>
			</a>
		</div>

	</div>
</div>

<script src="<%=helpers.staticurl('/js/lib/jquery.min.js')%>"></script>
<!--<script src="<%=helpers.staticurl('/js/lib/jquery.movingboxes.js')%>"></script>-->
<script>
	//	$(function() {
	//		$('#box').movingBoxes({
	//			startPanel: 1,
	//			reducedSize: .5,
	//			wrap: true,
	//			navFormatter: function() {
	//					return "&#9679;";
	//				}
	//		});
	//	})
</script>
<script src="<%=helpers.staticurl('/js/brand.js')%>"></script>
<!--<script src="/js/brand.js"></script>-->
<% include ./footer.ejs %>