<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>
			<%=title%>
		</title>
    <style>
    
    </style>
	</head>
<body>
 	<img src="<%=helpers.staticurl('/images/chart/ttsj_1.jpg')%>" width="100%" />
 	<img src="<%=helpers.staticurl('/images/chart/ttsj_2.jpg')%>" width="100%" />
 	<img src="<%=helpers.staticurl('/images/chart/ttsj_3.jpg')%>" width="100%" />
 	<img src="<%=helpers.staticurl('/images/chart/ttsj_4.jpg')%>" width="100%" />
 	<img src="<%=helpers.staticurl('/images/chart/ttsj_5.jpg')%>" width="100%" />
</body>
</html>
