<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/contact.css')%>" />
<div class="contact-page">
	<div class="currentLocation">
	首页>联系我们
</div>
<div class="contact_bg">
	葡萄科技-儿童科技行业领航者!
</div>
<div class="imagesSwitch" id="imagesSwitch">
	<div class="imgBox">
		<img src="<%=helpers.staticurl('/images/contact/l1.jpg')%>" />
		<img src="<%=helpers.staticurl('/images/contact/l2.jpg')%>" />
		<img src="<%=helpers.staticurl('/images/contact/l3.jpg')%>" />
	</div>
	<div class="imgMenu">
		<span class="on"></span>
		<span></span>
		<span></span>
	</div>
</div>
<div class="contText">
	<h2>上海葡萄科技有限公司</h2>
	<p>
		电话：021-54679188<br /> 地址：上海市闵行区
		<br /> 官网：www.putao.com
	</p>
</div>
<div class="contMap">
	
</div>
</div>

<script type="text/javascript" src="<%=helpers.staticurl('/js/contact.js')%>"></script>
</body>

</html>
<% include ./footer.ejs %>