<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>
			<%=title%>
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<link rel="shortcut icon" href="<%=helpers.staticurl('/images/favicon.ico')%>" type="image/x-icon" />
		<link rel="icon" href="<%=helpers.staticurl('/images/favicon.ico')%>" type="image/x-icon">
	</head>

	<body id="returnTop">
		<div class="yzl_header">
			<div class="yzl_header_top">
				<div class="yzl_header_top_w">
					<ul class="menu">
						<li>
							<a target="_blank" href="/">葡萄官网</a>
						</li>
						<li>
							<a target="_blank" href="/brand">品牌动态</a>
						</li>
						<li>
							<a target="_blank" href="/theatre">葡星剧场</a>
						</li>
						<li>
							<a target="_blank" href="/pt_home">葡萄之家</a>
						</li>
						<li>
							<a target="_blank" href="/app">应用下载</a>
						</li>
					</ul>

					<a target="_blank" href="<%=helpers.getShoppingMallUrl('/user/myOrder')%>" class="shopCart">

					</a>

					<%if(!shopcart){%>
					<div class="loginReg">
						<a href="/user/login">登录</a>
						|
						<a target="_blank" href="https://account.putao.com/register">注册</a>
					</div>
					<%}else{%>
					<div class="user">
						<p>
							<%=shopcart.sessid%>
						</p>
						<div>
							<a target="_blank" href="<%=helpers.getShoppingMallUrl('/service/customer/list')%>" data-stat-id="281a83d86f7b24f9">售后服务</a>
							<a target="_blank" href="<%=helpers.getShoppingMallUrl('/user/account/address')%>" data-stat-id="281a83d86f7b24f9">收货地址</a>
							<a href="https://account.putao.com/account/user" target="_blank" data-stat-id="">帐户资料</a>
							<a href="/user/logout" data-stat-id="">退出登录</a>
						</div>
					</div>
					<%}%>

				</div>
			</div>
			<div class="yzl_header_menu">
				<h1></h1>
				<ul>
					<%if(nav_list&&nav_list.length>0){%>
					<%nav_list.slice(0,9).forEach(function(v,i){%>
					<li>
						<a class="<%= !i ? 'on' : '' %>" href="<%=v.basic_url%>">
							<%=v.name%>
						</a>
					</li>
					<%})%>
					<%}%>

				</ul>
			</div>
		</div>