<% include ./header.ejs %>
<link rel="stylesheet" type="text/css" href="http://player.youku.com/h5player/play.css?ver=2016/06/21151259">
<link rel="stylesheet" href="<%=helpers.staticurl('/css/hellobc.css')%>" />

<div class="page_hellobc">

<!-- top -->
<div class="top pr">
	<div class="light wow bounceIn"></div>
	<div class="light1 wow bounceIn"></div>
	<div class="w pr" style="height: 750px;">

		<div class="yzl_ipad wow fadeIn">

		</div>

		<div class="text wow fadeIn">

		</div>

		<div class="text1 wow bounceInUp">

		</div>
		<a href="https://itunes.apple.com/us/app/hello-bian-cheng/id1071378496?l=zh&ls=1&mt=8"></a>
	</div>
</div>
<!-- /top -->

<!-- video -->
<div class="video pr">
	<div class="box">
		<div class="play_icon" id="play_icon"></div>
		<div id="youkuplayer" style="width: 800px;height: 450px;"></div>
		<img id="video-fc" style="position: absolute;top:0" src="<%=helpers.staticurl('/images/player_bg.jpg')%>">
	</div>

</div>
<!-- /video -->

<!-- 你还在等什么 -->
<div class="data pr">
	<div data-wow-delay="0.8s" class="text wow fadeInUp">

	</div>
	<div data-wow-delay="0.8s" class="map wow fadeInUp" id="map">

	</div>

	<div class="chart" id="chart" style="height: 300px;">

	</div>
	<div data-wow-delay="0.8s" class="arrow wow fadeInUp">

	</div>
</div>
<!-- /你还在等什么 -->

<!-- AR技术完美体现寓教于乐 -->
<div class="ar pr">
	<div data-wow-delay="0.8s" class="bg">

	</div>
	<div data-wow-delay="0.8s" class="q wow bounceInDown">

	</div>
</div>
<!-- /AR技术完美体现寓教于乐 -->

<!-- 多元智能让孩子更全面 -->
<div class="multivariate">
	<div class="w h pr">
		<div class="bg1"></div>
		<div class="bg2 wow flash"></div>
	</div>
</div>
<!-- /多元智能让孩子更全面 -->

<!-- 提升逻辑思考力 -->
<div class="promote">
	<div class="w h pr">
		<div data-wow-delay="0.8s" class="wow bounceInUp"></div>
		<div data-wow-delay="1.6s" class="wow bounceInUp"></div>
		<div data-wow-delay="2.4s" class="wow bounceInUp"></div>
	</div>
</div>
<!-- /提升逻辑思考力 -->

<!-- 自由创投 -->
<div class="ventureCapital pr">
	<div data-wow-delay="0.8s" class="bg"></div>
	<div data-wow-delay="1.6s" class="btn"></div>
</div>
<!-- /自由创投 -->

<!-- 保护视力 -->
<div class="protectEyesight pr">
	<div class="bg"></div>
	<div class="btn wow bounceIn"></div>
</div>
<!-- /保护视力 -->

<!-- 时间管理 -->
<div class="timeManagement pr">
	<div class="btn"></div>
	<!--<a href="https://itunes.apple.com/us/app/pu-tao-wei-du/id1067487375?l=zh&ls=1&mt=8"></a>-->
</div>
<!-- /时间管理 -->

<!-- FDA认证 -->
<div class="fda">
	<div class="w h pr">
		<div data-wow-delay="0.8s" class="btn wow bounceIn"></div>
		<div data-wow-delay="0.8s" class="btn1 wow bounceIn"></div>
	</div>
</div>
<!-- /FDA认证 -->

<!-- 科技陪伴成长 -->
<div class="banner">

</div>
<!-- /科技陪伴成长 -->

<!-- 产品所需配件 -->
<div class="parts pr">
	<a target="_blank" href="<%=helpers.getShoppingMallUrl('/product/17')%>"></a>
	<a target="_blank" href="<%=helpers.getShoppingMallUrl('/page/tansuohaofeichuan')%>"></a>
</div>
<!-- /产品所需配件 -->

<!-- 相关科技产品 -->
<div class="relevant">
	<a href="/page_hellobc"></a>
	<a href="/page_tutushijie"></a>
	<a href="/page_maisisi"></a>
	<a href="/page_taotaoxiangyouzou"></a>
</div>

</div>
<script type="text/javascript" src="<%=helpers.staticurl('/js/lib/wow.min.js')%>"></script>
<script type="text/javascript" src="http://player.youku.com/jsapi"></script>
<script type="text/javascript" src="<%=helpers.staticurl('/js/hellobc.js')%>"></script>
<% include ./footer.ejs %>