<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/idangerous.swiper.css')%>">
<link rel="stylesheet" href="<%=helpers.staticurl('/css/new_index.css')%>">
<!--<link rel="stylesheet" href="css/index.css">-->
<div class="page-newIndex">
	
	<!-- banner -->
	<div class="swiper-box">
		<div class="swiper-container js-swiper-container">
			<div class="swiper-wrapper" id="swiperwrapper">
				<%if(banner&&banner.length > 0){%>
				<%banner.forEach(function(v){%>
				<div data-description="<%=v.description%>" class="swiper-slide" style="background: url(<%=helpers.drawImage(v.basic_image_1)%>) no-repeat top center;">
					<%if(v.basic_url){%>
						<a target="_blank" href="<%=v.basic_url%>">
							
						</a>
					<%}%>
				</div>
				<%})%>
				<%}%>
			</div>
		</div>
		<div class="pagination js-pagination"></div>
	</div>
	<!-- /banner -->
	
	<div class="title">机器人电脑</div>
	<%if(new_index_jqr&&new_index_jqr.length > 0){%>
	<div class="product product<%=new_index_jqr.length%>">
		<%new_index_jqr.forEach(function(v,i){%>
		<%if(!i){%>
		<div class="l">
			<a href="<%=v.basic_url%>">
				<img class="bg" src="<%=helpers.drawImage(v.basic_image_1)%>" />
				<%if(v.basic_image_2){%>
				<img class="abs" src="<%=helpers.drawImage(v.basic_image_2)%>" />
				<%}%>
			</a>
		</div>
		<ul class="r">
			<%}else{%>

			<li>
				<a href="<%=v.basic_url%>">
					<img class="bg" src="<%=helpers.drawImage(v.basic_image_1)%>" />
					<%if(v.basic_image_2){%>
					<img class="abs" src="<%=helpers.drawImage(v.basic_image_2)%>" />
					<%}%>
				</a>
			</li>
			<%}%>
			<%})%>
		</ul>
	</div>
	<%}%>
	
	<div class="title">科技生活</div>
	<%if(new_index_kj&&new_index_kj.length > 0){%>
	<div class="product product<%=new_index_kj.length%>">
		<%new_index_kj.forEach(function(v,i){%>
		<%if(!i){%>
		<div class="l">
			<a href="<%=v.basic_url%>">
				<img class="bg" src="<%=helpers.drawImage(v.basic_image_1)%>" />
				<%if(v.basic_image_2){%>
				<img class="abs" src="<%=helpers.drawImage(v.basic_image_2)%>" />
				<%}%>
			</a>
		</div>
		<ul class="r">
			<%}else{%>

			<li>
				<a href="<%=v.basic_url%>">
					<img class="bg" src="<%=helpers.drawImage(v.basic_image_1)%>" />
					<%if(v.basic_image_2){%>
					<img class="abs" src="<%=helpers.drawImage(v.basic_image_2)%>" />
					<%}%>
				</a>
			</li>
			<%}%>
			<%})%>
		</ul>
	</div>
	<%}%>
	
	<div class="title">科技玩具</div>
	<%if(new_index_kjwj&&new_index_kjwj.length > 0){%>
	<div class="product product<%=new_index_kjwj.length%>">
		<%new_index_kjwj.forEach(function(v,i){%>
		<%if(!i){%>
		<div class="l">
			<a href="<%=v.basic_url%>">
				<img class="bg" src="<%=helpers.drawImage(v.basic_image_1)%>" />
				<%if(v.basic_image_2){%>
				<img class="abs" src="<%=helpers.drawImage(v.basic_image_2)%>" />
				<%}%>
			</a>
		</div>
		<ul class="r">
			<%}else{%>

			<li>
				<a href="<%=v.basic_url%>">
					<img class="bg" src="<%=helpers.drawImage(v.basic_image_1)%>" />
					<%if(v.basic_image_2){%>
					<img class="abs" src="<%=helpers.drawImage(v.basic_image_2)%>" />
					<%}%>
				</a>
			</li>
			<%}%>
			<%})%>
		</ul>
	</div>
	<%}%>

	<div class="title">周边配件</div>
	<%if(new_index_parts&&new_index_parts.length > 0){%>
	<div class="product product<%=new_index_parts.length%>">
		<%new_index_parts.forEach(function(v,i){%>
		<%if(!i){%>
		<div class="l">
			<a href="<%=v.basic_url%>">
				<img class="bg" src="<%=helpers.drawImage(v.basic_image_1)%>" />
				<%if(v.basic_image_2){%>
				<img class="abs" src="<%=helpers.drawImage(v.basic_image_2)%>" />
				<%}%>
			</a>
		</div>
		<ul class="r">
			<%}else{%>

			<li>
				<a href="<%=v.basic_url%>">
					<img class="bg" src="<%=helpers.drawImage(v.basic_image_1)%>" />
					<%if(v.basic_image_2){%>
					<img class="abs" src="<%=helpers.drawImage(v.basic_image_2)%>" />
					<%}%>
				</a>
			</li>
			<%}%>
			<%})%>
		</ul>
	</div>
	<%}%>

	
</div>
<script src="<%=helpers.staticurl('/js/lib/swiper2.js')%>"></script>
<script src="<%=helpers.staticurl('/js/index.js')%>"></script>
<!--<script src="/js/index.js"></script>-->
<% include ./footer.ejs %>