<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/index.css')%>">
<link rel="stylesheet" href="<%=helpers.staticurl('/css/presale.css')%>">
<style>
	.paiband_bg_top {
		position: relative;
	}
	
	.paiband_bg_top a {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 140px;
		width: 263px;
		height: 35px;
		margin-left: -250px;
	}
</style>
<div class="presale-page" style="padding-top: 0;">
	<div class="paiband_bg_top">
		<a target="_blank" href="<%=helpers.getShoppingMallUrl('/v1/pay/card?id=13')%>"></a>
	</div>
	<div class="paiband_bg1"></div>
	<div class="paiband_bg2">
		<a target="_blank" href="<%=helpers.getShoppingMallUrl('/v1/pay/card?id=13')%>"></a>
	</div>
	<div class="paiband_bg3"></div>
	<div class="mask" id="mask" style="display: none;">
		<div>
			<a target="_blank" href="http://store.putao.com/page/paiband">查看详情</a>
			<a target="_blank" href="<%=helpers.getShoppingMallUrl('/v1/pay/card?id=13')%>">限时抢</a>
		</div>
	</div>
</div>
<script src="<%=helpers.staticurl('/js/lib/jquery.min.js')%>"></script>
<script>
	(function() {
		var $mask = $('#mask');
		window.onscroll = function() {
			var scrollTop = $(document).scrollTop();
			if(scrollTop > 180) {
				$mask.show()
			} else {
				$mask.hide()
			}
		}
	})();
</script>
<% include ./footer.ejs %>