<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/pt_home.css')%>" />
<link rel="stylesheet" href="<%=helpers.staticurl('/css/idangerous.swiper.css')%>">
<!--<link rel="stylesheet" href="css/pt_home.css" />-->
<div class="page-pthome">
	<%if(banner&&banner.length > 0){%>
	<%if(banner.length == 1){%>
	<div class="swiper-box1" style="background: url(<%=helpers.drawImage(banner[0].basic_image_1)%>) no-repeat top center;">

		<%if(banner[0].basic_url){%>
		<a target="<%=v.basic_url.indexOf('http') >= 0 ? '_blank' : '_self'%>" href="<%=v.basic_url%>"></a>
		<%}%>

	</div>
	<%}else{%>
	<div class="swiper-box">
		<div class="swiper-container js-swiper-container">
			<div class="swiper-wrapper" id="swiperwrapper">
				<%if(banner&&banner.length > 0){%>
				<%banner.forEach(function(v){%>
				<div data-description="<%=v.description%>" class="swiper-slide" style="background: url(<%=helpers.drawImage(v.basic_image_1)%>) no-repeat top center;">
					<%if(v.basic_url){%>
					<a target="<%=v.basic_url.indexOf('http') >= 0 ? '_blank' : '_self'%>" href="<%=v.basic_url%>"></a>
					<%}%>
				</div>
				<%})%>
				<%}%>
			</div>
		</div>
		<div class="pagination js-pagination"></div>
	</div>
	<%}%>
	<%}%>
<!-- 什么是葡萄之家 -->
<div class="about">
	<div>
		<h2>什么是葡萄之家?</h2>
		<p>葡萄之家是粉丝们共同的家园</p>
	</div>
	<div>
		<div class="menu" id="menu">
			<div>
				<span></span>
				<span></span>
				<a href="javascript:;">价值观<br />&目标</a>
			</div>
			<div>
				<span></span>
				<span></span>
				<a href="javascript:;">加入<br />我们</a>
			</div>
			<div>
				<span></span>
				<span></span>
				<a href="javascript:;">会员<br />权益</a>
			</div>
		</div>
		<div class="menu_t" id="menu_text">
			<p>
				葡萄之家是一个亲子社群<br />聚集独立思考的父母<br /> 培养善于创新的孩子
				<br /> 让孩子在“快乐中成才”
				<br />
			</p>
			<p>
				如果你也认同我们的价值观<br /> 和我们有着一样的目标
				<br /> 请加入我们,实现你为孩子创造的梦想！
			</p>
			<p>
				丰富的线上社群活动<br /> 有料的线下互动活动
				<br /> 加入会员，一卡共享
			</p>
		</div>
	</div>
	<a href="brandShow?tag=OiKrar&msg=5">我要加入葡萄之家></a>
</div>
<!-- /什么是葡萄之家 -->

<!-- 葡萄之家会员权益 -->
<div class="memberInterests">
	<div class="hd hd-1">
		<h2>葡萄之家会员权益</h2>
	</div>
	<ul id="memberInterests">
		<%if(member_ship){%>
			<% member_ship.forEach(function(item,index){ %>
			<li class="memberInterests_li">
				<div>
					<h3 class="mem_title"><%=item.title%></h3>
					<p class="mem_sub_title">
						<%=item.sub_title%>
					</p>
				</div>
				<div>
					<%-item.basic_content%>
				</div>
			</li>
			<% }) %>
		<%}%>
	</ul>
</div>
<!-- /葡萄之家会员权益 -->

<!-- 热门活动 -->
<div class="activity">
	<div class="hd">
		<h2>热门活动</h2>
	</div>
	<div class="list" id="activity_list">
		<div>
		<%if(hot_acts){%>
			<% hot_acts.slice(0,2).forEach(function(item,index){ %>
			<dl>
				<dt>
					<a href="/brandShow?msg=3&tag=<%=item.tag%>"><img src="<%=helpers.drawImage(item.basic_image_1)%>" /></a>
					<p><%=item.name%></p>
				</dt>
				<dd>
					<div>
						<%-item.basic_content%>
					</div>
					<a href="/brandShow?msg=3&tag=<%=item.tag%>">查看全文</a>
				</dd>
			</dl>
			<% }) %>
		<%}%>
		</div>
	</div>
	<div class="more">
		<a href="brandList?tag=pthome_hot&msg=3">更多活动</a>
	</div>
</div>
<!-- /热门活动 -->

<!-- 葡粉故事 -->
<div class="fans">
	<div class="hd">

		<h2>葡粉故事</h2>

		<p>在葡萄之家，有很多很多的葡粉<br /> 他们是“明星”，因为他们的教育理念传奇而广受欢迎
			<br /> 他们是“蒲公英”，因为他们愿意分享传播自己积累的亲子方式
		</p>
	</div>
	<div id="fans_list">
		<div>
			<ul id="fans_list">
		<%if(pf_stories){%>
			<% pf_stories.slice(0,2).forEach(function(item,index){ %>
			<li>
				<img src="<%=helpers.drawImage(item.basic_image_1)%>" />
				<dl>
					<dt><%=item.name%></dt>
					<dd>
						<%=item.title%>
					</dd>
					<dd>
						<a href="/brandShow?msg=4&tag=<%=item.tag%>">查看全文</a>
					</dd>
				</dl>
			</li>
			<% }) %>
		<%}%>
	</ul>
		</div>
	</div>
	<div class="more">
		<a href="brandList?tag=pthome_fans&msg=4">更多故事</a>
	</div>
	<div style="height:50px">

	</div>
</div>
<!-- /葡粉故事 -->
</div>
<script src="<%=helpers.staticurl('/js/lib/jquery.min.js')%>"></script>
<script src="<%=helpers.staticurl('/js/lib/swiper2.js')%>"></script>
<script src="<%=helpers.staticurl('/js/pt_home.js')%>"></script>
<!--<script src="/js/pt_home.js"></script>-->
<% include ./footer.ejs %>
