<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/pt_home.css')%>" />
<div class="pt_home_banner" style="background: url('<%=helpers.drawImage(banner[0].basic_image_1)%>') no-repeat 50% 0"></div>
<!-- 什么是葡萄之家 -->
<div class="about">
	<div>
		<h2>什么是葡萄之家?</h2>
		<p>葡萄之家是粉丝们共同的家园</p>
	</div>
	<div>
		<div class="menu" id="menu">
			<div>
				<span></span>
				<span></span>
				<a href="#">价植观<br />&目标</a>
			</div>
			<div>
				<span></span>
				<span></span>
				<a href="#">加入<br />我们</a>
			</div>
			<div>
				<span></span>
				<span></span>
				<a href="#">会员<br />权益</a>
			</div>
		</div>
		<div class="menu_t" id="menu_text">
			<p>
				葡萄之家是一个亲子社群<br />聚集独立思考的父母<br />
培养善于创新的孩子<br />
让孩子在“快乐中成才”<br />
			</p>
			<p>
				如果你也认同我们的价值观<br />
和我们有着一样的目标<br />
请加入我们,实现你为孩子创造的梦想！
			</p>
			<p>
				丰富的线上社群活动<br />
有料的线下互动活动<br />
加入会员，一卡共享
			</p>
		</div>
	</div>
	<a href="#">我要加入葡萄之家></a>
</div>
<!-- /什么是葡萄之家 -->

<!-- 葡萄之家会员权益 -->
<div class="memberInterests">
	<div class="hd hd-1">
		<h2>葡萄之家会员权益</h2>
	</div>
	<ul id="memberInterests">
		<% member_ship.forEach(function(item,index){ %>
		<li class="memberInterests_li">
			<div>
				<h3 class="mem_title"><%=item.title%></h3>
				<p class="mem_sub_title"><%=item.sub_title%></p>
			</div>
			<div>
				<%-item.basic_content%>
			</div>
		</li>
		<% }) %>
	</ul>
</div>
<!-- /葡萄之家会员权益 -->

<!-- 热门活动 -->
<div class="activity">
	<div class="hd">
		<h2>热门活动</h2>
	</div>
	<div class="list">
		<% hot_acts.forEach(function(item,index){ %>
		<dl>
			<dt>
				<img src="<%=helpers.drawImage(item.basic_image_1)%>" />
				<p><%=item.name%></p>
			</dt>
			<dd>
				<%-item.basic_content%>
				<a href="<%=item.id%>">查看全文</a>
			</dd>
		</dl>
		<% }) %>
	</div>
	<!-- 查看更多 -->
	<div class="more">
		<a href=""></a>
	</div>
	<!-- /查看更多 -->
</div>
<!-- /热门活动 -->

<!-- 葡粉故事 -->
<div class="fans">
	<div class="hd">

		<h2>葡粉故事</h2>

		<p>在葡萄之家，有很多很多的葡粉<br /> 他们是“明星”，因为他们的教育理念传奇而广受欢迎
			<br /> 他们是“蒲公英”，因为他们愿意分享传播自己积累的亲子方式
		</p>
	</div>
	<ul>
		<% pf_stories.forEach(function(item,index){ %>
		<li>
			<img src="<%=helpers.drawImage(item.basic_image_1)%>" />
			<dl>
				<dt><%=item.name%></dt>
				<dd><%=item.title%></dd>
				<dd>
					<a href="<%=item.id%>">查看全文</a>
				</dd>
			</dl>
		</li>
		<% }) %>
	</ul>
	<!-- 查看更多 -->
	<div class="more">
		<a href="#"></a>
	</div>
	<!-- /查看更多 -->
</div>
<!-- /葡粉故事 -->
<script src="<%=helpers.staticurl('/js/pt_home.js')%>"></script>
<% include ./footer.ejs %>