<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/selfservice.css')%>" />
<div class="selfservice-page">
	<div class="currentLocation">
		<a href="/">首页</a> > 自助服务
	</div>
	<%if(selfservice_banner&&selfservice_banner.length>0){%>
	<div class="contact_bg" style="background: url(<%=helpers.drawImage(selfservice_banner[0].basic_image_1)%>) no-repeat center;">

	</div>
	<%}%>
	<div class="width">
		<div class="title">
			<h2>自助服务</h2>
			<a href="#"></a>
		</div>
		<ul class="list">
			<%if(selfservice_list&&selfservice_list.length>0){%>
				<%selfservice_list.forEach(function(v,i){%>
				<%if(!((i+1)%3)){%>
					<li style="border-right:0 ;">
				<%}else{%>
					<li>
				<%}%>
					<%if(v.basic_url){%>
						<a href="<%=v.basic_url%>">
					<%}else{%>
						<a href="selfservice/<%=v.tag%>?name=<%=helpers.encodeURIComponent('自助服务')%>&name1=<%=helpers.encodeURIComponent(v.name)%>">
					<%}%>
						<img src="<%=helpers.drawImage(v.basic_image_1)%>" />
						<span>
							<%=v.name%>
						</span>
					</a>
				</li>
			<%})%>
			<%}%>
		</ul>
		<div class="title">
			<h2>常见问题</h2>
			<a href="#"></a>
		</div>
				<ul class="list1">
					<%if(selfservice_list1&&selfservice_list1.length>0){%>
				<%selfservice_list1.forEach(function(v,i){%>
				<%if(!((i+1)%5)){%>
					<li style="border-right:0 ;">
				<%}else{%>
					<li>
				<%}%>
					<%if(v.basic_url){%>
						<a class="img" href="<%=v.basic_url%>" style="background: url(<%=helpers.drawImage(v.basic_image_1)%>) no-repeat center;"></a>
					<%}else{%>
						<a style="background: url(<%=helpers.drawImage(v.basic_image_1)%>) no-repeat center;" class="img" href="selfservice/<%=v.tag%>?name=<%=helpers.encodeURIComponent('常见问题')%>&name1=<%=helpers.encodeURIComponent(v.name)%>"></a>
					<%}%>
					<dl>
						<dt>
							<%if(v.basic_url){%>
						<a href="<%=v.basic_url%>"><%=v.name%></a>
					<%}else{%>
						<a href="selfservice/<%=v.tag%>?name=<%=helpers.encodeURIComponent('常见问题')%>&name1=<%=helpers.encodeURIComponent(v.name)%>"><%=v.name%></a>
					<%}%>
						</dt>
						<dd>
							<%=v.description%>
						</dd>
					</dl>
				</li>
			<%})%>
			<%}%>
		</ul>
		<div class="title">
			<h2>联系客服</h2>
		</div>
		<ul class="cont">
			<li>
				<h3>7x24在线服务</h3>
				<p>在线对话，为您解决遇到的问题</p>
				<a href="http://vipwebchat.sh.tq.cn/pageinfo.jsp?version=vip&admiuin=9730189&ltype=0&iscallback=0&is_message_sms=0&is_send_mail=0&action=acd&acd=1&type_code=1001">立即咨询</a>
			</li>
			<li>
				<h3>400-920-6161</h3>
				<p>周一至周日 8:00 至 18:00<br>仅收市话费</p>
			</li>
		</ul>
	</div>
</div>
<% include ./footer.ejs %>