<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/theatre.css')%>">
<!--<div class="theater_bg theater_bg_one" style="background:url('<%=helpers.drawImage(banner[0].basic_image_1)%>') no-repeat scroll 50% center;"></div>-->
<div class="theater_bg theater_bg_one"></div>
<div class="theater_bg theater_bg_two"></div>
<div class="theater_bg theater_bg_three"></div>
<div class="theater_bg theater_bg_four"></div>
<div class="theater_bg theater_bg_five"></div>
<div class="theater_bg theater_bg_six"></div>
<div class="theater_bg theater_bg_seven"></div>
<div class="theater_bg theater_bg_eight"></div>
<!--banner-->
<div class="swiper-box">
	<div class="swiper-container js-swiper-container">
		<div class="swiper-wrapper" id="swiperwrapper">
			<%if(banner&&banner.length > 0){%>
			<%banner.forEach(function(v){%>
			<div data-description="<%=v.description%>" class="swiper-slide" style="background: url(<%=helpers.drawImage(v.basic_image_1)%>) no-repeat top center;">
			</div>
			<%})%>
			<%}%>
		</div>
	</div>
	<div class="pagination js-pagination"></div>
</div>
<!--/banner-->
<div class="theater_blank theater_head">
	<div class="con_blank theater_con">
		<div class="head_list">
			<% if(ips) { %>
			<% ips.forEach(function(item,index){ %>
			<a href="javascript:;" class="act" data-id="<%=index%>"><img src="<%=helpers.drawImage(item.basic_image_1)%>"></a>
			<% }) %>
			<% } %>
		</div>
		<div class="head_desc">
			<span class="p_big">
          <img src="<%=helpers.drawImage(ips[0].basic_image_2)%>" alt="">
        </span>
			<div class="desc_con">
				<h2><span id="ip_name"><%=ips[0].name%></span></h2>
				<div id="ip_name_content">
					<%- ips[0].basic_content%>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 哈喽葡星人 -->
<div class="theater_blank theater_star_video">
	<div class="con_blank star_video_con">
		<p class="title_info"><span><%=hlpxr[0].name%></span></p>
		<p class="type_info">
			<%=hlpxr[0].title%>
		</p>
		<p class="staring_info">
			<%=hlpxr[0].sub_title%>
		</p>
		<p class="desc_info">
			<%=hlpxr[0].description%>
		</p>
		<p class="star_video">
			<img class="hlpxr" src="<%=helpers.drawImage(hlpxr[0].basic_image_1)%>" alt="">
		</p>
		<div class="anthology" id="j-px_btn">
			<a class="act" href="javascript:;">选集</a>
			<a href="javascript:;">预告片</a>
		</div>
		<div id="j-px">
			<div class="episode">
				<%if(hellopx&&hellopx.length){%>
				<%hellopx.forEach(function(item,i){%>
				<a data-vid="<%=item.description%>" data-index="<%=i%>" class="<%=!i ? 'act' : '' %>">
					<%=item.name%>
				</a>
				<%})%>
				<%}%>
			</div>
			<div class="episode" style="display: none;">
				<%if(hellopxyg&&hellopxyg.length){%>
				<%hellopxyg.forEach(function(item,i){%>
				<a data-vid="<%=item.description%>" data-index="<%=i%>" class="<%=!i ? 'act' : '' %>">
					<%=item.name%>
				</a>
				<%})%>
				<%}%>
			</div>
		</div>
	</div>
</div>
<!-- /哈喽葡星人 -->

<!-- Q淘小咖秀 -->
<div class="theater_blank theater_small_show">
	<div class="con_blank smallshow_con">
		<img src="<%=helpers.drawImage(qtao[0].basic_image_1)%>" alt="">
		<span class="xiaokaxiucode" hidden="hidden">
        <!--<img src="<%=helpers.drawImage(qtao[0].basic_image_2)%>" alt=""><br>
        <i>关注"葡星大爆炸"<br>Q淘小咖秀抢先看</i>-->
      </span>
		<div class="anthology">
			<h1 class="title_info"><span><%=qtao[0].name%></span></h1>
			<p class="type_info">
				<%=qtao[0].title%>
			</p>
			<p class="staring_info">
				<%=qtao[0].sub_title%>
			</p>
			<p class="desc_info">
				<%=qtao[0].description%>
			</p>
			<div class="episode" id="show_film">
			</div>
			<p class="paging">
				<a href="javascript:;" class="paging_prev">上一页</a>
				<a href="javascript:;" class="paging_next">下一页</a>
			</p>
		</div>
	</div>
</div>
<!-- /Q淘小咖秀 -->

<div class="theater_blank product_wrap">
	<div class="con_blank product_con">
		<% if(comic_novel) { %>
		<% comic_novel.forEach(function(item,index){ %>
		<div class="product_list">
			<img src="<%=helpers.drawImage(item.basic_image_1)%>" alt="">
			<p class="title_info"><span><%=item.name%></span></p>
			<p class="type_info">
				<%=item.title%>
			</p>
			<p class="staring_info">
				<%=item.sub_title%>
			</p>
			<p class="desc_info">
				<%=item.description%>
			</p>
			<!--<a href="<%=item.basic_url%>">点击查看
				<%=item.name%>>></a>-->
		</div>
		<% }) %>
		<% } %>
	</div>
</div>
<div class="theater_blank theater_star_video FourDVideo">
	<div class="con_blank star_video_con">
		<p class="title_info"><span><%=fdmovie[0].name%></span></p>
		<p class="type_info">
			<%=fdmovie[0].title%>
		</p>
		<p class="staring_info">
			<%=fdmovie[0].sub_title%>
		</p>
		<p class="desc_info">
			<%=fdmovie[0].description%>
		</p>
		<p class="star_video">
			<img src="<%=helpers.staticurl('/images/FourDVideo.png')%>" alt="">
		</p>
	</div>
</div>
<div class="mark"></div>
<div class="video_pop animated" id="video_pop1">
	<div class="title">
		<span></span>
		<a href="javascript:;" class="video_close_btn">x</a>
	</div>
	<div class="video_con">
		<div class="mn" style="width:860px;height:524px;display: block" id="youkuplayer1">
			
		</div>
	</div>
</div>
<script>
	var ips_content = '<%- JSON.stringify(helpers.getIpsContent(ips))%>';
	var ips = ips_content.split('|*|');
	var ips_img_str = '<%= helpers.getIpsImg(ips)%>';
	var ips_img = ips_img_str.split(',');
	var ips_name_str = '<%= helpers.getIpsName(ips)%>';
	var ips_name = ips_name_str.split('|*|');
	//  var ips_img = JSON.parse(ips_img_json);
	var pages_json = '<%= helpers.getCarToonPages(qtao)%>';
	var pages = pages_json.split(',');
</script>
<script type="text/javascript" src="http://player.youku.com/jsapi"></script>
<script src="<%=helpers.staticurl('/js/theatre.js')%>"></script>
<% include ./footer.ejs %>