<% include ./header %>
<div class="container del-h">
    <!-- 顶部banner -->
    <% if(brand_banners) { %>
        <% if(brand_banners.length > 1) { %>
        <div class="swiper">
            <div class="swiper-wrapper">
                <% brand_banners.forEach(function(item, $index) { %>
                <div class="swiper-slide">
                    <a target="<% item.basic_url.indexOf('http') > -1 ? '_blank' : '_self' %>" href="<%= item.basic_url %>" style="height: 5.8597rem;background: url('<%=helpers.drawImage(item.basic_image_2)%>') center no-repeat;background-size: cover; display: block;"></a>
                </div>
                <% }) %>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <% } else { %>
        <div class="single-banner">
            <% brand_banners.forEach(function(item) { %>
            <div class="slide">
                <a target="<% item.basic_url.indexOf('http') > -1 ? '_blank' : '_self' %>" href="<%= item.basic_url %>" style="height: 5.8597rem;background: url('<%=helpers.drawImage(item.basic_image_1)%>') center no-repeat;background-size: cover; display: block;"></a>
            </div>
            <% }) %>
        </div>
        <% } %>
    <% } %>
    <div class="b-main" id="list">
        <% if(brand_list) { %>
            <div class="title"><%= _title %></div>
            <div class="row">
            <% brand_list.forEach(function(item, $index) { %>
                <% if($index % 2 == 0 && $index > 0) { %>
                </div>
                <div class="row">
                <% } %>
                <div class="item">
                    <a target="<% item.basic_url.indexOf('http') > -1 ? '_blank' : '_self' %>" href="<%= item.basic_url %>">
                        <div class="image">
                            <img src="<%=helpers.drawImage(item.basic_image_3)%>">
                        </div>
                        <div class="desc"><%= item.extension_2 %></div>
                        <div class="note">
                            <div class="time"><%= item.extension_1 %></div>
                            <div class="sign">
                                <% if(_tag == 'brand_ppsj_top') { %>
                                <img src="<%=helpers.drawImage(item.basic_image_2)%>">
                                <% } else { %>
                                <p><%= item.basic_image_2 %></p>
                                <% } %>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
            </div>
        <% } %>

    </div>
    <div class="get-more">
        <button id="more"><%= brand_list.length <= 8 ? '没有更多数据了' : '加载更多'%></button>
    </div>
</div>
<script>
    var js_tag = "<%= _tag %>";
    var js_title = "<%=helpers.encodeURIComponent(_title)%>";
</script>
<script src="<%=helpers.staticurl_m('/js/get_more_v3.0.js')%>"></script>
<% include ./footer %>