<div class="container">
	<div class="buynow">
		<span>探索号底座</span>
		<a href="http://m-store.putao.com/choose/tansuohaofeichuan">立即购买</a>
	</div>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/base/base_01.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/base/base_02.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/base/base_03.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/base/base_04.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/base/base_05.jpg')%>"/>
</div>