<footer>
	<div class="info">
		<ul>
			<li>
				<a href="<%=helpers.devurl_m('/system/common/about')%>">关于葡萄</a>
			</li>
			<li>
				<a href="<%=helpers.devurl_m('/system/common/contact')%>">联系我们</a>
			</li>
			<li>
				<a href="/brand">品牌动态</a>
			</li>
			<li>
				<a href="/invest_invite">加盟简介</a>
			</li>
		</ul>
	</div>
	<div class="copyright">
		<ul>
			<li>Copyright &copy; 2017, 葡萄科技. All Rights Reserved.</li>
		</ul>
	</div>
</footer>
<script src="<%=helpers.staticurl_m('/js/index_v3.0.js')%>"></script>
<script type="text/javascript">
	$(function() {
		$('.desc p').on('each', function() {
			if($(this).text() > 72) {
				$(this).text(cutString($(this).text(), 72));
			}
		})
//  			if(getLen($('.desc p').text()) > 72) {
//	        		$('.desc p').text(cutString($('.desc p').text(), 72));
//	        }
		$('.navbar ul li a').on('click', function (e) {
			var uri = $(this).data('href');
			location.href = uri;
			if (uri.substr(uri.indexOf('#') + 1) != '' && uri.indexOf('all') == -1 && (uri.indexOf('#') > -1)) {
				var tag = uri.substr(uri.indexOf('#'));
				if(window.scrollY == parseInt($(tag).offset().top)) {
					window.scrollBy(0, -$(tag).height());
				}
			}
			else if(uri.indexOf('all') > -1) {
				location.href = '<%=helpers.devurl_m('/product/product/list')%>';
			}
			$('.navbar').addClass('hide');
		});

		var uri = window.location.href;
		if(uri.indexOf('act') > -1) {
			var tag = uri.substr(uri.indexOf('#'), uri.indexOf('?') - uri.indexOf('#'));
			window.scrollBy(0, $(tag).offset().top-$(tag).height());
		}
		function getLen(str) {
			var realLength = 0, len = str.length, charCode = -1;
			for (var i = 0; i < len; i++) {
				charCode = str.charCodeAt(i);
				if (charCode >= 0 && charCode <= 128) realLength += 1;
				else realLength += 2;
			}
			return realLength;
		}
		function cutString(str, len) {
			var str_length = 0;
			var str_len = 0;
			str_cut = new String();
			str_len = str.length;
			for (var i = 0; i < str_len; i++) {
				a = str.charAt(i);
				str_length++;
				if (escape(a).length > 4) {
					//中文字符的长度经编码之后大于4
					str_length++;
				}
				str_cut = str_cut.concat(a);
				if (str_length >= len) {
					str_cut = str_cut.concat("……");
					return str_cut;
				}
			}
			//如果给定字符串小于指定长度，则返回源字符串；
			if (str_length < len) {
				return str;
			}
		}
	})
</script>
<script type="text/javascript">
	/*$(function() {
		$('.navbar ul li a').on('click', function(e) {
			var uri = $(this).data('href');
			if(uri.substr(uri.length - 1) != '#') {
				if(uri.indexOf('all') > -1) {
					location.href = '<%=helpers.devurl_m(' / product / product / list ')%>';
				} else {
					location.href = uri + '?act=other';
				}
			} else {
				location.href = uri;
			}
			$('.navbar').addClass('hide');
		});
	})
	*/
</script>
<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "//hm.baidu.com/hm.js?673857fffc897bf9ff2866d51d3d81f6";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
<script>
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-74498287-3']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>
</body>

</html>