<div class="container">
    <div class="buynow">
        <span>哈泥海洋水族馆</span>
        <a href="<%=helpers.devurl_m('/choose/hanishuizuguan')%>">立即购买</a>
    </div>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_01.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_03.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_04.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_05.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_06.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_07.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_08.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_09.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_10.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_11.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_12.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_13.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/haniz/haniz_14.jpg')%>"/>
</div>