<% include ./header %>
<div class="container">
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/jiamengjianjie/invite_01.jpg')%>" alt="">
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/jiamengjianjie/invite_02.jpg')%>" alt="">
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/jiamengjianjie/invite_03.jpg')%>" alt="">
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/jiamengjianjie/invite_04.jpg')%>" alt="">
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/jiamengjianjie/invite_05.jpg')%>" alt="">
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/jiamengjianjie/invite_06.jpg')%>" alt="">
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/jiamengjianjie/invite_07.jpg')%>" alt="">
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/jiamengjianjie/invite_08.jpg')%>" alt="">
</div>
<% include ./footer %>