<div class="container">
	<div class="buynow">
		<span>星球魔方</span>
		<a href="http://m.putao.com/choose/mofang">立即购买</a>
	</div>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_01.jpg')"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_03.jpg')"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_04.jpg')"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_05.jpg')"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_06.jpg')"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_07.jpg')"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_08.jpg')"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_09.jpg')"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_10.jpg')"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/mofang/mofang_11.jpg')"/>
</div>