<div class="container">
    <div class="buynow">
        <span>葡萄手环</span>
        <a href="<%=helpers.devurl_m('/choose/paiband')%>">立即购买</a>
    </div>

    <link rel="stylesheet" href="<%=helpers.staticurl_m('/css/paibandM.css')%>" /> 
    <section id="paiband-container">
        <div class="paiband-container">
            <div class="paiband-main">
                <div class="w h">
                    <div class="paiband-text ml">
                        <div class="fw font2" style="color: #383838; font-size: 0.4rem;padding-left: 0.1rem;">PaiBand</div>
                        <div class="fw font1" style="color: #61259e;">葡萄手环</div>
                        <div class="fw font2 title" style="font-size: 0.4rem;padding-left: 0.1rem;">数据让成长看得见</div>
                        <!-- <div class="fw font2 safebtn">
                            <span>儿童成长手环</span>
                        </div> -->
                    </div>
                </div>
            </div>
            <div id="paiband-safe" class="pb-imgs paiband-safe">
                <div class="fw safe1">
                    <div class="w h">
                        <div class="paiband-title font2">"和大人一样&nbsp;,&nbsp;孩子也需要自己的手环"</div>
                        <div class="paiband-text ml">
                            <div class="fw font3 pb-ul">
                                <ul>
                                    <li>儿童运动方式</li>
                                    <li>儿童生活作息</li>
                                </ul>
                                <ul>
                                    <li>儿童成长曲线</li>
                                </ul>
                            </div>
                            <div class="fw font3 pb-article">
                                <div class="fw font2 title">葡萄手环</div>
                                <p>洞察儿童的生活作息
                                    <br/>定制符合儿童发育状况的专属功能
                                    <br/>并定制家长管控端-葡萄纬度App
                                    <br/>引导孩子更为科学健康的运动方式</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fw safe2">
                    <div class="w h">
                        <div class="paiband-text ml">
                            <div class="fw font2 title pbcolor">
                                <p>时间、步数、卡路里葡萄手环都在记录
                                    <br/>家长可通过葡萄纬度App进行监测</p>
                            </div>
                            <div class="fw font3 pb-article">
                                <p>葡萄手环收集孩子的跑步卡路里&nbsp;,&nbsp;走路时的步数等点点滴滴
                                    <br/>随时随地了解孩子运动&nbsp;,&nbsp;塑造更科学的成长方式</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="paiband-life" class="pb-imgs paiband-life">
                <div class="fw life1">
                    <div class="w pr h">
                        <div class="paiband-title font2">"成长数据&nbsp;,&nbsp;尽在掌握"</div>
                        <div class="paiband-text ml">
                            <div class="fw font2 pbcolor title1">
                                <figure><img src="<%=helpers.staticurl_m('/images/paibandM/sports.png')%>">
                                    <figcaption>运动数据</figcaption>
                                </figure>
                            </div>
                            <div class="fw font2 title">无论跑多久多远&nbsp;,&nbsp;数据始终在收集</div>
                            <div class="fw font3 pb-article">
                                <p>走出去&nbsp;,&nbsp;让葡萄手环记录下孩子每一个迈出的步伐
                                    <br/>实时监测孩的每一个运动瞬间<br/>测算每一次卡路里的消耗
                                    <br/>所有的运动数据都会在你的手机上通过葡萄纬度呈现<br/>看见孩子每一步成长</p>
                            </div>
                            <div class="fw font3 tip">*葡萄纬度数据呈现</div>
                        </div>
                    </div>
                </div>
                <div class="fw life2">
                    <div class="w h">
                        <div class="paiband-text ml">
                            <div class="fw font2 pbcolor title1">
                                <figure><img src="<%=helpers.staticurl_m('/images/paibandM/sleep.png')%>">
                                    <figcaption>睡眠数据</figcaption>
                                </figure>
                            </div>
                            <div class="fw font2 title"><p>良好的睡眠质量<br/>是孩子健康运动的保障</p></div>
                            <div class="fw font3 pb-article">
                                <p>孩子晚上睡了多久&nbsp;,&nbsp;醒来几次&nbsp;,&nbsp;深度睡眠的占比都能生成数据</p>
                            </div>
                            <div class="fw font3 tip">*葡萄纬度数据呈现</div>
                        </div>
                    </div>
                </div>
                <div class="fw life3">
                    <div class="w h">
                        <div class="paiband-text ml">
                            <div class="fw font2 pbcolor title1">六轴传感器</div>
                            <div class="fw font3 pb-article">
                                <p>采用高精度六轴传感器芯片&nbsp;,&nbsp;可以在立体空间三个方向下
                                    <br/>精确感知孩子的姿态调整及运动幅度</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="paiband-parents" class="pb-imgs paiband-parents">
                <div class="fw parent1">
                    <div class="w h">
                        <div class="paiband-title font2">"不同年龄的孩子&nbsp;,&nbsp;不同的运动方案"</div>
                        <div class="paiband-text ml">
                            <div class="fw font2 pbcolor title1">BMI数据标准值&nbsp;,&nbsp;针对不同年龄定制</div>
                            <div class="fw font3 pb-article">
                                <p>根据各个年龄段儿童的身高和体重&nbsp;,&nbsp;进行更加细致的指数区分<br/>使BMI数据值的监测更适合儿童使用。</p>
                            </div>
                            <div class="fw font3 pbcolor pb-article2">
                                <p>BMI数据标准值&nbsp; : &nbsp;依据体重公斤数和身高米数计算得出的数值<br/>是目前国际常用的衡量人体胖瘦程度以及是否健康的一个标准</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fw parent2">
                    <div class="w h">
                        <div class="paiband-text ml">
                            <div class="fw font2 pbcolor title1">
                                <p>请世界体坛巨星给孩子当运动顾问</br>特邀产品经理顾问—孙雯女士</p>
                            </div>
                            <div class="fw font3 pb-article">
                                <p>从产品研发到数据采集&nbsp;,&nbsp;进行深度合作<br/>为孩子提供专业运动建议及动作指导<br/>专业的运动指导&nbsp;,&nbsp;才能带来更为科学的运动方式</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fw parent3">
                    <div class="w h">
                        <div class="paiband-text ml">
                            <div class="fw font2 pbcolor title">
                                <p>孩子玩起来上天又入地</br>幸好它防水又防尘</p>
                            </div>
                            <div class="fw font3 pb-article">
                                <p>同时采用高粘性胶合剂实现全密闭壳体设计</br>通过IP67级防水防尘测试</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fw parent4">
                    <div class="w h">
                        <div class="paiband-text ml">
                            <div class="fw font2 pbcolor title">低敏材质&nbsp;,&nbsp;贴心呵护</div>
                            <div class="fw font3 pb-article">
                                <p>孩子的成长离不开贴心的呵护</br>我们严苛挑选了防止儿童幼嫩肌肤过敏的低敏材质BASF&nbsp;9277表带</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pb-imgs paiband-end">
                <div class="fw end1">
                    <div class="w h">
                        <div class="paiband-text ml font2">
                            <ul class="topAndbt">
                                <li>安心材质</li>
                                <li>健康管家</li>
                                <li>闹钟助手</li>
                                <li>时间显示</li>
                            </ul>
                            <ul class="topAndbt2">
                                <li>运动数据</li>
                                <li>营养推送</li>
                            </ul>
                            <ul class="topAndbt">
                                <li>睡眠数据</li>
                                <li>防水防尘</li>
                                <li>互动交友</li>
                                <li>安全距离</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="fw end2">
                    <div class="w h">
                        <div class="paiband-title font2">"系统要求&nbsp; & &nbsp;机型支持"</div>
                        <div class="paiband-text ml">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="<%=helpers.staticurl_m('/js/paibandM.js')%>"></script>
</div>