<% include ./header %>
<div class="container">
    <div class="buynow">
        <span>paibot预售</span>
        <a href="<%=helpers.devurl_m('/v1/pay/card?id=12')%>">立即预定</a>
        <a style="margin-right: .05rem" href="/page/paibot'>">产品详情</a>
    </div>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot_presale/paibot_banner_01.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot_presale/paibot_banner_02.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot_presale/paibot_banner_03.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot_presale/paibot_banner_04.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot_presale/paibot_banner_05.jpg')%>"/>
</div>
<% include ./footer %>