<div class="container">
    <div class="buynow">
        <span>paibot</span>
        <a href="<%=helpers.devurl_m('/choose/paibot')%>">立即购买</a>
    </div>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_01.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_03.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_04.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_05.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_06.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_07.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_08.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_09.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_10.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_11.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_12.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_13.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_14.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_15.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_16.jpg')%>"/>
</div>