<% include ./header %>
<div class="container">
    <div class="buynow">
        <span>paiband预售</span>
        <a href="<%=helpers.devurl_m('/v1/pay/card?id=11')%>">立即预定</a>
        <a style="margin-right: .05rem" href="/page/paiband'>">产品详情</a>
    </div>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_01.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_02.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_03.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_04.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_05.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_06.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_07.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_08.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_09.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_10.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_11.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paiband_presale/paiband_12.jpg')%>"/>
</div>
<% include ./footer %>