<!--<div class="container">
    <div class="buynow">
        <span>paibot</span>
        <a href="<%=helpers.devurl_m('/choose/paibot')%>">立即购买</a>
    </div>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_01.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_02.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_03.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_04.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_05.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_06.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_07.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_08.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_09.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_10.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_11.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_12.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_13.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_14.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/paibot/paibot_15.jpg')%>"/>
</div>-->
<link href="<%=helpers.staticurl_m('/css/paibotM.css')%>" rel="stylesheet">
<div class="container">
	<div class="buynow">
		<span>paibot</span>
		<a href="<%=helpers.devurl_m('/choose/paibot')%>">立即购买</a>
	</div>
	<section id="paibot-container">
		<div class="paibot-container">
			<div class="paibot-main">
				<div class="w h">
					<div class="paibot-text ml">
						<div class="fw font1">PaiBot</div>
						<div class="fw font2">儿童机器人电脑</div>
						<div class="fw font3">
							<span>安全护眼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</span>
							<span>学习伙伴&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</span>
							<span>生活探索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|</span>
							<span>家长管控</span>
						</div>
					</div>
				</div>
			</div>
			<div class="paibot-nav pr">
				<div class="w h">
					<nav>
						<ul>
							<li>
								<a href="javascript:;" class="paibot-safe-enter" title="">安全护眼</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-studymate-leaves" title="">学习伙伴</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-life-leaves" title="">生活探索</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-parents-leaves" title="">家长管控</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-settings-leaves" title="">配置参数</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div id="paibot-safe" class="pb-imgs paibot-safe">
				<div class="fw safe1">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font3 safebtn">
								<span>安全护眼</span>
							</div>
							<div class="fw font2 title">四大黑科技&nbsp;,&nbsp;让PaiBot变成护眼神器</div>
							<div class="fw font3 pb-article">
								<p>在儿童使用平板电脑的过程中&nbsp;,&nbsp;会有很多错误的习惯<br/>PaiBot内置了距离传感器、角度传感器、光线传感器及滤蓝光屏<br/>实时帮助孩子以正确姿势和明亮的环境光线使用PaiBot</p>
							</div>
							<div class="fw font3 pb-ul">
								<span>距离护眼</span>
								<span>姿势护眼</span>
								<span>光线护眼</span>
								<span>滤蓝光护眼</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fw safe2">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">
								<span>#眼睛离屏幕太近怎么办#</span>
							</div>
							<div class="fw content">
								<div class="font2">距离传感器</div>
								<p class="font3">内置距离传感器<br/>依据红外测距原理<br/>通过监测脸和屏幕之间<br/>光脉冲的反射时间间隔<br/>实时测算屏幕与眼睛之间的距离</p>
								<p class="font3">眼睛距离屏幕小于等于25cm<br/>PaiBot会转动屏幕并熄屏</p>
							</div>
						</div>
					</div>
				</div>
				<div class="fw safe3">
					<div class="w pr h">
						<div class="paibot-text font2 ml">凑太近&nbsp;,&nbsp;会转屏</div>
					</div>
				</div>
				<div class="fw safe4">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">
								<span>#光线昏暗怎么办#</span>
							</div>
							<div class="fw content">
								<div class="font2">光线传感器</div>
								<p class="font3">内置光线传感器<br/>接收外界光线时<br/>可感知环境亮度变化<br/>实时测量环境光亮度值<br/>机智判断光线明暗度</p>
								<p class="font3">光线过暗时（小于5Lux）<br/>或太亮时（大于999Lux）<br/>PaiBot自动熄屏</p>
							</div>
						</div>
					</div>
				</div>
				<div class="fw safe5">
					<div class="w h">
						<div class="paibot-text font2 ml">光太暗&nbsp;,&nbsp;会熄屏</div>
					</div>
				</div>
				<div class="fw safe6">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">
								<span>#喜欢躺着玩PAD怎么办#</span>
							</div>
							<div class="fw content">
								<div class="font2">角度传感器</div>
								<p class="font3">内置角度传感器<br/>由重力垂直轴与加速度传感器组成<br/>倾斜时,灵敏轴会产生夹角<br/>实时测算平板的倾斜角度<br/>判断对眼睛安全的使用角度</p>
								<p class="font3">平板与水平线角度为-8°<br/>PaiBot自动熄屏</p>
							</div>
						</div>
					</div>
				</div>
				<div class="fw safe7">
					<div class="w pr h">
						<div class="paibot-text font2 ml">姿势错误&nbsp;,&nbsp;会熄屏</div>
					</div>
				</div>
				<div class="fw safe8">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">
								<span>#长时间盯着屏幕怎么办#</span>
							</div>
							<div class="fw content">
								<div class="font2">蓝光护眼</div>
								<p class="font3">内置色温调节功能<br/>过滤视网膜前的高能短波蓝光<br/>减少蓝光对眼睛的伤害</p>
								<p class="font3">过滤400nm-480nm高能蓝光<br/>保护儿童眼角膜</p>
							</div>
						</div>
					</div>
				</div>
				<div class="fw safe9">
					<div class="w h">
						<div class="paibot-text font2 ml">滤蓝光&nbsp;,&nbsp;更护眼</div>
					</div>
				</div>
			</div>
			<div class="paibot-nav pr">
				<div class="w h">
					<nav>
						<ul>
							<li>
								<a href="javascript:;" class="paibot-safe-leaves" title="">安全护眼</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-studymate-enter" title="">学习伙伴</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-life-leaves" title="">生活探索</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-parents-leaves" title="">家长管控</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-settings-leaves" title="">配置参数</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div id="paibot-studymate" class="pb-imgs paibot-studymate">
				<div class="fw study1">
					<div class="w pr h">
						<div class="paibot-text ml">
							<div class="fw font3 safebtn">
								<span>学习伙伴</span>
							</div>
							<div class="fw font2 title">“Hello,小Pai,我要查字典”</div>
							<div class="fw font3 pb-article">
								<p>PaiBot内置了十万条古诗词、百万条百科知识、《海词》数千万条中英文词条<br/>像和小伙伴一样对"小Pai"提问<br/>Ta能帮孩子解答各种疑问<br/>你唤醒"小Pai" 的次数越多&nbsp;,&nbsp;就越会发现Ta有多么妙趣横生</p>
							</div>
							<div class="fw font3 pb-ul">
								<div class="ce">
									<ul>
										<li>儿童专属人工智能“小Pai”</li>
										<li>百万条百科知识</li>
									</ul>
								</div>
							</div>
							<div class="fw font3 pb-ul">
								<div class="ce">
									<ul>
										<li>十万条古诗词</li>
										<li>《海词》数千万条中英文词条</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fw study2">
					<div class="w pr h">
						<div class="paibot-text ml">
							<div class="left">
								<div class="left1">
									<div class="fw font2 title">"厚薄的薄怎么写？"</div>
									<div class="fw font3 pb-article">
										<p>内置《海词》百万级中英文词条<br/>可以直接语音查询</p>
									</div>
								</div>
								<div class="left2">
									<div class="fw font2 title">"小猫怎么叫？"</div>
									<div class="fw font3 pb-article">
										<p>小Pai会模拟很多动物的叫声&nbsp;,&nbsp;充满童趣</p>
									</div>
								</div>
								<div class="left3">
									<div class="fw font2 title">"我怕黑"</div>
									<div class="fw font3 pb-article">
										<p>小Pai会唤起小夜灯&nbsp;,&nbsp;陪伴孩子入睡</p>
									</div>
								</div>
								<div class="left4">
									<div class="fw font2 title">"拍个全家福吧！"</div>
									<div class="fw font3 pb-article">
										<p>配合320 °智能旋转底座<br/>可声控全景拍照、有声拍照和笑脸拍照</p>
									</div>
								</div>
							</div>
							<div class="right">
								<div class="right1">
									<div class="fw font2 title">"Hello 小Pai？"</div>
								</div>
								<div class="right2">
									<div class="fw font2 title">"太阳离地球有多远呢？"</div>
									<div class="fw font3 pb-article">
										<p>内置数百万条百科知识<br/>想知道的都可以问小Pai</p>
									</div>
								</div>
								<div class="right3">
									<div class="fw font2 title">"给我唱首儿歌吧 ！"</div>
									<div class="fw font3 pb-article">
										<p>想听什么问小Pai<br/>Ta会自动打开内置葡萄听听App</p>
									</div>
								</div>
								<div class="right4">
									<div class="fw font2 title">"明天天气怎么样？"</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="paibot-nav pr">
				<div class="w h">
					<nav>
						<ul>
							<li>
								<a href="javascript:;" class="paibot-safe-leaves" title="">安全护眼</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-studymate-leaves" title="">学习伙伴</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-life-enter" title="">生活探索</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-parents-leaves" title="">家长管控</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-settings-leaves" title="">配置参数</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div id="paibot-life" class="pb-imgs paibot-life">
				<div class="fw life1">
					<div class="w pr h">
						<div class="paibot-text ml">
							<div class="fw font3 safebtn">
								<span>生活探索</span>
							</div>
							<div class="fw font2 title">探索&nbsp;,&nbsp;充满童趣&nbsp;;&nbsp;生活&nbsp;,&nbsp;井然有序</div>
							<div class="fw font3 pb-article">
								<p>每一款App都由编辑和专家双向筛选<br/>内容涵盖兴趣发展、科学探索、艺术培养<br/>学科学习、情商培养、阅读体验等多个方面<br/>每一款都能激发孩子的无限想象力和探索力<br/>通过内置的日历的提醒和锁屏的时钟<br/>可以帮助孩子养成良好的时间观念和生活习惯</p>
							</div>
							<div class="fw font3 pb-ul">
								<ul>
									<li><span>日历管理</span></li>
									<li><span>葡萄应用商店</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="fw life2">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">专家定制&nbsp;,&nbsp;更多元&nbsp;,&nbsp;更科学</div>
							<div class="fw font3 pb-article">
								<p>我们用最科学最全面的方式来衡量孩子的成长轨迹<br/>每一款App都以多元智能为依据<br/>从音乐、自然、运动、逻辑、人际、空间、内省、语言这8个纬度进行分类整理<br/>经由儿童领域专家及编辑双向筛选<br/>为孩子呈现最安全、最优质的应用内容</p>
							</div>
							<div class="fw font3 pb-ul">
								<span>多元智能</span>
								<span>专家定制</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fw life3">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">从此&nbsp;,&nbsp;孩子有了自己的App Store</div>
							<div class="fw font3 pb-article">
								<p>葡萄应用商店构建了庞大的儿童专属App生态圈<br/>海外优质App的覆盖率达到了60%<br/>各类精选优质的游戏、绘本和学习应用集结于此<br/>为不同年龄和发展阶段的孩子带来更多成长乐趣</p>
							</div>
							<div class="fw font3 pb-ul">
								<span>儿童专属</span>
								<span>海外精选</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fw life4">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">贪玩的孩子&nbsp;,&nbsp;也能做自己的小主人</div>
							<div class="fw font3 pb-article">
								<p>给孩子的日历来点新鲜感吧,不论是踢足球还是去科技馆<br/>从兴趣爱好到生活学习都有对应的图标供孩子添加<br/>装点每一个属于孩子自己的日程&nbsp;,&nbsp;自主管理每一天<br/>家长也可通过葡萄纬度App&nbsp;,&nbsp;为孩子远程添加日程安排&nbsp;,&nbsp;设置提醒</p>
							</div>
							<div class="fw font3 pb-ul">
								<span>童趣图标</span>
								<span>自主管理</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="paibot-nav pr">
				<div class="w h">
					<nav>
						<ul>
							<li>
								<a href="javascript:;" class="paibot-safe-leaves" title="">安全护眼</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-studymate-leaves" title="">学习伙伴</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-life-leaves" title="">生活探索</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-parents-enter" title="">家长管控</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-settings-leaves" title="">配置参数</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div id="paibot-parents" class="pb-imgs paibot-parents">
				<div class="fw parent1">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font3 safebtn">
								<span>家长管控</span>
							</div>
							<div class="fw font2 title">关于你的孩子&nbsp;,&nbsp;你想知道的&nbsp;,&nbsp;这里都有</div>
							<div class="fw font3 pb-article">
								<p>孩子在PaiBot中收获乐趣&nbsp;,&nbsp;同时也会面临很多问题<br/>葡萄纬度可以让家长的手机与孩子的PaiBot相关联<br/>帮助家长管控孩子的使用行为和使用时间<br/>了解并且引导孩子养成良好的成长习惯</p>
							</div>
							<div class="fw font3 pb-ul">
								<span>葡萄纬度</span>
								<span>葡萄浏览器</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fw parent2">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">云端过滤&nbsp;,&nbsp;让安全更进一步</div>
							<div class="fw font3 pb-article">
								<p>葡萄浏览器配备了突破性的云端过滤系统<br/>在后台设有百万级敏感词库及网址库<br/>再多的敏感词汇和网址&nbsp;,&nbsp;家长都可以在葡萄纬度端一一屏蔽<br/>为孩子带来健康无尘的上网体验</p>
							</div>
							<div class="fw font3 pb-ul">
								<span>云端过滤</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fw parent3">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">陪伴可以随时随地&nbsp;,&nbsp;也可以随身携带</div>
							<div class="fw font3 pb-article">
								<p>家长可以通过葡萄纬度App与孩子进行语音或视频远程通话<br/>随时随地&nbsp;,&nbsp;就像陪在孩子身边一样</p>
							</div>
							<div class="fw font3 pb-ul">
								<span>视频通话</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fw parent4">
					<div class="w h">
						<div class="paibot-text ml">
							<div class="fw font2 title">理财不再只是大人的事</div>
							<div class="fw font3 pb-article">
								<p>通过葡萄纬度App&nbsp;,&nbsp;家长可在PaiBot的钱包内设定消费额度<br/>定时定量的管理孩子的财产&nbsp;,&nbsp;从小培养孩子理财意识和习惯<br/>让他们拥有更好的金钱观、财富观</p>
							</div>
							<div class="fw font3 pb-ul">
								<span>理财管理</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fw parent5">
					<div class="w pr h">
						<div class="paibot-text ml">
							<div class="fw font2 title">
								<p>远程锁屏<br/>轻松管理平板使用时长</p>
							</div>
							<div class="fw font3 pb-article">
								<p>告别过去单一粗暴的管控方式<br/>不论是PaiBot的使用时长&nbsp;,&nbsp;还是关闭游戏类App<br/>甚至远程锁定平板&nbsp;,&nbsp;操作起来都变得易如反掌<br/>更加人性化</p>
							</div>
							<div class="fw font3 pb-ul">
								<span>时间管控</span>
								<span>远程锁屏</span>
							</div>
						</div>
					</div>
				</div>
				<div class="fw parent6">
					<div class="w pr h">
						<div class="paibot-text ml">
							<div class="fw font3 safebtn">
								<span>硬件展示</span>
							</div>
							<div class="fw font2 title">三轴立体旋转底座</div>
							<div class="fw font3 pb-article">
								<p>单轴旋转精度精确到2度&nbsp;,&nbsp;带来更为灵活的转向&nbsp;,&nbsp;多面多轮<br/>76cm跌落测试</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="paibot-nav pr">
				<div class="w h">
					<nav>
						<ul>
							<li>
								<a href="javascript:;" class="paibot-safe-leaves" title="">安全护眼</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-studymate-leaves" title="">学习伙伴</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-life-leaves" title="">生活探索</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-parents-leaves" title="">家长管控</a>
							</li>
							<li>
								<a href="javascript:;" class="paibot-settings-enter" title="">配置参数</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div id="paibot-settings" class="pb-imgs paibot-settings">
				<div class="fw settings1">
					<div class="w pr h">
						<div class="paibot-text ml">
							<div class="fw font2 title">配置参数</div>
							<ul class="topAndbt font3">
								<li class="part">
									<ul>
										<li>MT8173四核旗舰处理器</li>
										<li>Power&nbsp;VR&nbsp;G6250&nbsp;2.4GHz旗舰<br/>显示芯片,支持4K超高清视频内容</li>
										<li>前置500万高清摄像头</li>
									</ul>
								</li>
								<li class="part">
									<ul>
										<li>7.9”高清视网膜屏</li>
										<li>蓝光过滤</li>
										<li>802.11n／ac WiFi协议<br/>支持双通（2.4GHz&GHz）</li>
									</ul>
								</li>
								<li class="part">
									<ul>
										<li>双音响&nbsp;,&nbsp;支持环绕声</li>
										<li>语音识别、降噪</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="fw settings2">
					<div class="w pr h">
						<div class="paibot-text ml">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript" src="<%=helpers.staticurl_m('/js/paibotM.js')%>"></script>