<div class="container">
    <div class="buynow">
        <span>葡萄平板</span>
        <a href="<%=helpers.devurl_m('/choose/paipad')%>">立即购买</a>
    </div>
    <script src="<%=helpers.staticurl_m('/js/lib/wow.min.js')%>"></script>
    <link rel="stylesheet" href="<%=helpers.staticurl_m('/css/animate.css')%>">
    <link rel="stylesheet" href="<%=helpers.staticurl_m('/css/m_new_paipad.css')%>">
    <div>
			<div class="page-newpaipad_banner" id="j-paipad-banner">
				<div>
					<div data-wow-delay="0.8s" class="wow fadeInDown">PaiPad</div>
					<div data-wow-delay="0.8s" class="wow fadeInDown">葡萄平板</div>
					<div data-wow-delay="0.8s" class="wow fadeInDown">儿童就用儿童平板</div>
				</div>
			</div>
			<div style="padding: 45px 0;" id="j-paipad-subtitle">
				<dl class="page-newpaipad_text">
					<dt class="page-newpaipad_c">搭载儿童自主学习系统</dt>
					<dd>
						专为幼小衔接年龄段儿童打造智能自主学习系统,
					</dd>
					<dd>
						内容全面、科学、系统,利用最新护眼技术、及家长端管控,
					</dd>
					<dd>
						人工智能小Pai，是孩子有趣博学的成长伙伴。
					</dd>
				</dl>
			</div>
			<div class="page-newpaipad_nav" id="j-newpaipad_nav">
				<div>
					<a data-index="0" href="javascript:;" class="hover"></a>
					<a data-index="1" href="javascript:;"></a>
					<a data-index="2" href="javascript:;"></a>
				</div>
			</div>
			<!--1-->
			<div class="page-newpaipad-p1 j-newpaipad-page" style="display: block;">
				<div class="page-newpaipad-p1_box1">
					<div class="page-newpaipad_h">
						"学习，也能像玩游戏般有趣"
					</div>
					<dl data-wow-delay="0.8s" class="page-newpaipad_text page-newpaipad_p wow fadeInDown" style="margin-top: .4rem;">
						<dt class="page-newpaipad_c wow fadeInDown">“多感官学习法，<br>孩子学习更主动更高效”</dt>
						<dd>
							所谓多感官学习法，最早是英国玛利亚•蒙台梭利创立的，
						</dd>
						<dd>
							通过调动身体感官体验知识的过程，增加学习兴趣，让孩子学习更主动。
						</dd>
						<dd>
							有科学资料证明，我们会掌握阅读内容的10%.
						</dd>
						<dd>
							听到内容的15%，亲身经历内容的80%。
						</dd>
					</dl>
				</div>
				<div class="page-newpaipad-p1_box2">
					<dl class="page-newpaipad_text">
						<dt style="color: #FFF;">六大学习主题</dt>
					</dl>
					<ul>
						<li>
							语言文化
						</li>
						<li>
							数学逻辑
						</li>
						<li>
							英语学习
						</li>
						<li>
							科学探索
						</li>
						<li>
							艺术创造
						</li>
						<li>
							综合培养
						</li>
					</ul>
				</div>
				<div class="page-newpaipad-p1_box3">

				</div>
				<div class="page-newpaipad-p1_box4">

				</div>
				<div class="page-newpaipad-p1_box5">

				</div>
				<div class="page-newpaipad-p1_box6">

				</div>
				<div class="page-newpaipad-p1_box7">

				</div>
				<div class="page-newpaipad-p1_box8">

				</div>
				<div class="page-newpaipad-p1_box9">
					<dl data-wow-delay="0.8s" class="page-newpaipad_text wow fadeInDown" style="margin-top: .6rem;">
						<dt style="color: #FFF;">权威教育专家精选优质儿童应用</dt>
						<dd style="color: #FFF;">
							葡萄专家团队结合各自领域的专业性，
						</dd>
						<dd style="color: #FFF;">
							为孩子精心推荐各类优质应用、音乐和英语内容。
						</dd>
						<dd style="color: #FFF;">
							十余位专攻儿童领域的编辑团队从数百万应用中，
						</dd>
						<dd style="color: #FFF;">
							精挑细选了上千款优质儿童应用。
						</dd>
					</dl>
				</div>
				<div class="page-newpaipad-p1_box10">
					<dl data-wow-delay="0.8s" class="page-newpaipad_text wow fadeInDown" style="margin-top: .6rem;">
						<dt class="page-newpaipad_c">海外优质应用，应有尽有</dt>
						<dd>
							我们主打沉浸式的学习体验，引入了大量海外原版儿歌、
						</dd>
						<dd>
							游戏、绘本、读物和课程。让孩子在寓教于乐中爱上学习。
						</dd>
					</dl>
				</div>
				<div class="page-newpaipad-p1_box11">
					<dl data-wow-delay="0.8s" class="page-newpaipad_text wow fadeInDown" style="margin-top: .6rem;">
						<dt class="page-newpaipad_c">葡萄平板+PaiAR教学体系</dt>
						<dd>
							多维度的PaiAR教学体系，以葡萄平板智能终端为核心，
						</dd>
						<dd>
							配合葡萄独创的TAG（Toy玩具Animation动画Game游戏）
						</dd>
						<dd>
							成长方式，激发孩子学习兴趣与学习主动性。
						</dd>
					</dl>
				</div>
			</div>
			<!--2-->
			<div class="page-newpaipad-p2 j-newpaipad-page" style="display: none;">
				<div class="page-newpaipad-p2_box1">
					<div class="page-newpaipad_h">
						"孩子的学习习惯，我们共同培养"
					</div>
					<dl class="page-newpaipad_text page-newpaipad_p" style="margin-top: .6rem;">
						<dt data-wow-delay="0.8s" class="wow fadeInDown">孩子的用眼习惯，放心交给我</dt>
						<dd data-wow-delay="0.8s" class="wow fadeInDown">
							儿童在使用平板电脑的过程中，会有很多错误的用眼习惯，
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInDown">
							葡萄平板出色的学习体验正是基于对孩子用眼坏习惯的提醒纠正功能。
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInDown">
							我们内置了距离传感器、角度传感器、光线传感器及滤蓝光功能，
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInDown">
							实时监控孩子的使用姿势和周围环境光线，
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInDown">
							帮助孩子养成良好的用眼习惯，让学习更安心
						</dd>
					</dl>
					<div data-wow-delay="0.8s" class="page-newpaipad_tlist wow fadeInDown" style="text-align: center;margin-top:.2rem">
						<span>距离护眼</span>
						<span>姿势护眼</span>
					</div>
					<div data-wow-delay="0.8s" class="page-newpaipad_tlist wow fadeInDown" style="text-align: center;margin-top:.2rem">
						<span style="margin-left: .2rem;">光线护眼</span>
						<span>滤蓝光护眼</span>
					</div>
				</div>
				<div class="page-newpaipad-p2_box2">
					<div class="page-newpaipad_h_1">#用眼坏习惯# 眼睛离平板太近</div>
					<div class="page-newpaipad_oh">
						<div class="page-newpaipad_fl page-newpaipad_w50" style="margin-top: .3rem;padding-right: .3rem;">
							<dl class="page-newpaipad_text page-newpaipad_text_1">
								<dt style="color: #383838;" class="page-newpaipad_c">距离传感器</dt>
								<dd>
									内置距离传感器
								</dd>
								<dd>
									依据红外测距原理
								</dd>
								<dd>
									通过检测脸部和屏幕之间
								</dd>
								<dd>
									光脉冲的反射时间间隔
								</dd>
								<dd>
									实时测算屏幕与眼睛之间的距离

								</dd>
							</dl>
						</div>
						<div class="page-newpaipad_fr page-newpaipad_w50" style="margin-top: .85rem;padding-left: .3rem;">
							<dl class="page-newpaipad_text page-newpaipad_text_2">
								<dt class="page-newpaipad_c" style="display: none;">距离传感器</dt>
								<dd style="color: #fff;">
									眼睛距离屏幕小于等于25cm，
								</dd><dd style="color: #fff;">
									葡萄平板会自动熄屏
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="page-newpaipad-p2_box3">
					<div>凑太近，会熄屏</div>
				</div>
				<div class="page-newpaipad-p2_box4">
					<div class="page-newpaipad_h_1" style="line-height: .7rem;">#用眼坏习惯# 在光线昏暗的环境下玩平板电脑</div>
					<div class="page-newpaipad_oh">
						<div class="page-newpaipad_fl page-newpaipad_w50" style="margin-top: 4rem;padding-right: .2rem;">
							<dl class="page-newpaipad_text page-newpaipad_text_1">
								<dt style="color: #383838;" class="page-newpaipad_c">光线传感器</dt>
								<dd>
									内置光线传感器
								</dd>
								<dd>
									感知环境亮度的变化
								</dd>
								<dd>
									用环境光线侦测原理

								</dd>
								<dd>
									实时测量环境光亮度值
								</dd>
								<dd>
									机智判断光线明暗度

								</dd>
							</dl>
						</div>
						<div class="page-newpaipad_fr page-newpaipad_w50" style="margin-top: 4.75rem;padding-left: .2rem;">
							<dl class="page-newpaipad_text page-newpaipad_text_2">
								<dt class="page-newpaipad_c" style="display: none;">距离传感器</dt>
								<dd style="color: #FFF;">
									光线过暗时（小于等于5lux）
								</dd>
								<dd style="color: #fff;">
									或太亮时（大于等于999lux）
								</dd>
								<dd style="color: #FFF;">葡萄平板会自动熄屏</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="page-newpaipad-p2_box5">
					<div>光太暗,会熄屏</div>
				</div>
				<div class="page-newpaipad-p2_box6">
					<div class="page-newpaipad_h_1">#用眼坏习惯# 喜欢躺着看平板电脑</div>
					<div class="page-newpaipad_oh">
						<div class="page-newpaipad_fl page-newpaipad_w50" style="margin-top: .4rem;padding-right: .2rem;">
							<dl class="page-newpaipad_text page-newpaipad_text_1">
								<dt style="color: #383838;" class="page-newpaipad_c">角度传感器</dt>
								<dd>
									内置角度传感器，由重力垂直轴
								</dd>
								<dd>
									与加速度传感器组成
								</dd>
								<dd>
									倾斜时，灵敏轴会产生夹角
								</dd>
								<dd>
									实时测算平板的倾斜角度
								</dd>
								<dd>
									判断对眼睛安全的使用角度
								</dd>
							</dl>
						</div>
						<div class="page-newpaipad_fr page-newpaipad_w50" style="margin-top: .95rem;padding-left: .2rem;">
							<dl class="page-newpaipad_text page-newpaipad_text_2">
								<dt class="page-newpaipad_c" style="display: none;">距离传感器</dt>
								<dd style="color: #FFF;">
									与水平线角度为-8 °时

								</dd>
								<dd style="color: #fff;">
									葡萄平板自动熄屏

								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="page-newpaipad-p2_box7">
					<div>姿势错误，会熄屏</div>
				</div>
				<div class="page-newpaipad-p2_box8">
					<div class="page-newpaipad_h_1">#用眼坏习惯# 总爱长时间盯着屏幕</div>
					<div class="page-newpaipad_oh">
						<div class="page-newpaipad_fl page-newpaipad_w50" style="margin-top: .35rem;padding-right: .2rem;">
							<dl class="page-newpaipad_text page-newpaipad_text_1">
								<dt style="color: #383838;" class="page-newpaipad_c">蓝光护眼
</dt>
								<dd>
									内置色温调节功能，过滤视网膜前的高能短波蓝光

								</dd>
								<dd>
									减少蓝光对眼睛的伤害

								</dd>
							</dl>
						</div>
						<div class="page-newpaipad_fr page-newpaipad_w50" style="margin-top: .87rem;padding-left: .2rem;">
							<dl class="page-newpaipad_text page-newpaipad_text_2">
								<dt class="page-newpaipad_c" style="display: none;">400nm-480nm</dt>
								<dd style="color: #FFF;">
									过滤400nm-480nm高能蓝光
								</dd>
								<dd style="color: #fff;">
									保护儿童眼角膜
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="page-newpaipad-p2_box9">
					<div>滤蓝光，更护眼</div>
				</div>
				<div class="page-newpaipad-p2_box10">
					<dl data-wow-delay="0.8s" class="page-newpaipad_text wow fadeInDown" style="margin-top: .4rem;">
								<dt class="page-newpaipad_c" style="color: #383838;">更多习惯，家长轻松管</dt>
								<dd>
									家长可以在手机端下载葡萄纬度APP，关联葡萄平板，
								</dd>
								<dd>
									即可远程管控孩子的使用行为；帮助管理孩子的使用时间，
								</dd>
								<dd>
									了解并引导孩子养成良好的学习及和生活习惯。
								</dd>
							</dl>
							<div class="wow fadeInDown"></div>
				</div>
				<div class="page-newpaipad-p2_box11">
					<div>
						<dl data-wow-delay="0.8s" class="page-newpaipad_text page-newpaipad_text_1 wow fadeInDown">
								<dt class="page-newpaipad_c" style="color: #383838;">平板使用时长、APP使用权限<br>轻松一手管控</dt>
								<dd>
									告别过去简单精暴的管控方式
								</dd>
								<dd>
									不论是葡萄平板的使用时长，还是关闭类游戏类APP
								</dd>
								<dd>
									甚至远程锁定平板，操作起来都变得易如反掌，更加人性化
								</dd>
							</dl>
							<div data-wow-delay="0.8s" class="page-newpaipad_tlist wow fadeInDown" style="text-align: right;margin-top: .2rem;">
								<span>权限管理</span>
								<span>时间管控</span>
								<span>远程锁屏</span>
							</div>
					</div>
				</div>
			</div>
			<!--3-->
			<div class="page-newpaipad-p3 j-newpaipad-page" style="display: none;">
				<div class="page-newpaipad-p3_box1">
					<div class="page-newpaipad_h">
						"智能好伙伴，让学习不孤单"
					</div>
					<div>
						<dl data-wow-delay="0.8s" class="page-newpaipad_text page-newpaipad_text_2 wow fadeInDown">
							<dt>
								儿童专属智能语音系统 “小Pai”
							</dt>
							<dd>小Pai是葡萄平板内置的儿童专属智能语音系统，Ta可以帮孩子</dd>
							<dd>解答学习和生活中的各种疑问，陪伴孩子成长的好伙伴。</dd>
						</dl>
						<div style="margin-top: .2rem;" data-wow-delay="0.8s" class="page-newpaipad_tlist wow fadeInDown">
							<span>学习知识</span>
							<span>一起玩耍</span>
							<span>探索世界</span>
						</div>
					</div>
				</div>
				<div class="page-newpaipad-p3_box2">
					<div class="page-newpaipad_4num">
						<div>
							<dl style="margin-top: .7rem;" class="page-newpaipad_text page-newpaipad_p">
								<dt style="color: #FFF;">学习知识的好伙伴</dt>
								<dd style="color: #FFF;">
									"小Pai"内置了十万条古诗词,
								</dd>
								<dd style="color:#FFF">
									数千万条<<海词>>中英文词条,
								</dd>
								<dd style="color: #FFF;">
									让葡萄平板成为一个知识渊博的学习好伙伴。
								</dd>
							</dl>
						</div>
						<div>
							<dl class="page-newpaipad_text" style="margin-top: .2rem;">
								<dt>"Hello,小Pai"</dt>
							</dl>
						</div>
						<div>
							<dl style="margin-top: .2rem" class="page-newpaipad_text">
								<dt>"太阳离地球有多远呢?"</dt>
								<dd>
									内置数百万条百科知识，
								</dd>
								<dd>
									想知道的都可以问小Pai
								</dd>
							</dl>
						</div>
						<div>
							<dl style="margin-top: .2rem;" class="page-newpaipad_text page-newpaipad_p">
								<dt>"厚薄的薄怎么写呢?"</dt>
								<dd>
									内置数千万条<<海词>>中英文词条，可以直接语音查询
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="page-newpaipad-p3_box3">
					<div class="page-newpaipad_4num">
						<div style="height: 3.6rem;">
							<dl class="page-newpaipad_text" style="margin-top: .2rem;">
								<dt>"Hello,小Pai"</dt>
							</dl>
						</div>
						<div style="height: 3.6rem;">
							
							<dl style="margin-top: .5rem;" class="page-newpaipad_text page-newpaipad_p">
								<dt style="color: #FFF;">一起玩耍的好伙伴</dt>
								<dd style="color: #FFF;">
									"小Pai"还十分懂得孩子的好奇心,
								</dd>
								<dd style="color:#FFF">
									内置在葡萄平板电脑的APP都可语音直接打开,
								</dd>
								<dd style="color: #FFF;">
									这样葡萄平板又化身为一位充满童趣的玩耍的好伙伴。
								</dd>
							</dl>
						</div>
						<div style="height: 5rem;">
							<dl style="margin-top: .2rem;" class="page-newpaipad_text page-newpaipad_p">
								<dt>"我想看动画！"</dt>
								<dd>
									想看动画就和小Pai说，Ta会自动打开动画并播放
								</dd>
							</dl>
							<dl class="page-newpaipad_text" style="margin-top: 3rem;">
								<dt>
									"小猫怎么叫？"
								</dt>
								<dd>
									小Pai会模似很多动物的叫声，充满童趣
								</dd>
							</dl>
						</div>
						<div style="height: 6rem;">
							<dl style="margin-top: .7rem;" class="page-newpaipad_text page-newpaipad_p">
								<dt>"给我唱首儿歌吧！"</dt>
								<dd style="margin-top: 0;">
									想听什么问小Pai，Ta会自动打开内置葡萄听听App
								</dd>
							</dl>
							<dl class="page-newpaipad_text" style="margin-top: 1.1rem;">
								<dt>
									"明天天气怎么样？"
								</dt>
							</dl>
							<dl class="page-newpaipad_text" style="margin-top: .2rem;">
								<dt>"我想看故事书！"</dt>
								<dd style="margin-top:0 ;">
									精选海外优质绘本，可直接语音开启
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div class="page-newpaipad-p3_box4">
					<div class="page-newpaipad_4num">
						<div>
							<dl style="margin-top: .15rem;" class="page-newpaipad_text page-newpaipad_p">
								<dt style="color: #FFF;letter-spacing: -1px;">陪我探索世界的好伙伴</dt>
								<dd style="color: #FFF;letter-spacing: -1px;">
									以葡萄平板为终端，
								</dd>
								<dd style="color: #FFF;letter-spacing: -1px;">
									连接各种智能玩具，
								</dd>
								<dd style="color: #FFF;letter-spacing: -1px;">
									并结合AR技术，图像识别技术等，
								</dd>
								<dd style="color: #FFF;letter-spacing: -1px;">
									陪伴孩子在虚似与现实中奇妙互动，
								</dd>
								<dd style="color: #FFF;letter-spacing: -1px;">
									孩子探索世界的好伙伴。
								</dd>
							</dl>
						</div>
						<div>
							<dl class="page-newpaipad_text" style="margin-top: .2rem;">
								<dt>"Hello，小Pai！"</dt>
							</dl>
						</div>
						<div>
							<dl class="page-newpaipad_text" style="margin-top: .2rem;">
								<dt>"我要玩Hello编程！"</dt>
							</dl>
						</div>
						<div>
							<dl class="page-newpaipad_text" style="margin-top: .1rem;">
								<dt>"我要玩麦丝丝！"</dt>
							</dl>
							<dl class="page-newpaipad_text" style="margin-top: 1.2rem;">
								<dt>"我要玩淘淘向右走！"</dt>
							</dl>
						</div>
					</div>
				</div>
				<div class="page-newpaipad-p3_box6">
					<dl class="page-newpaipad_text" style="margin-top:.4rem;">
						<dt>配置及参数</dt>
					</dl>
				</div>
				<div class="page-newpaipad-p3_box7"></div>
			</div>
			<div class="page-newpaipad_nav" id="j-newpaipad_nav1">
				<div>
					<a data-index="0" href="javascript:;" class="hover"></a>
					<a data-index="1" href="javascript:;"></a>
					<a data-index="2" href="javascript:;"></a>
				</div>
			</div>
		</div>
</div>
<script src="<%=helpers.staticurl_m('/js/m_new_paipad.js')%>"></script>