<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>
			PT码验证
		</title>
    <style>
       *{
      margin: 0;
      padding: 0;
    }
      body {
        background: #EEE;
      }
      .page-mptcode input {
        display: block;
        width: 90%;
        height: 46px;
        line-height: 46px;
        font-size: 20px;
        color: #333;
        margin-top: 3.5rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        border: solid 1px #B297C9;
        text-indent: 10px;
      }
      .page-mptcode input.err {
      	border: solid 1px #f00;
      }
      .page-mptcode a.btn {
        display: block;
        width: 90%;
        height: 46px;
        line-height: 46px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        color: #FFF;
        background: #985ec9;
        text-align: center;
        text-decoration: none;
      }
      .page-mptcode a.logo {
        display: block;
        width: 15rem;
        height: 7rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
        background: url(<%=helpers.drawImage('/images/ptcode/pt.png')%>);
        background-size: 100% 100%;
      }
      .page-mptcode p.ts {
      	width: 90%;
      	margin-left: auto;
      	margin-right: auto;
      	color: #999;
      	height: 40px;
      	line-height: 40px;
      }
      .page-mptcode .explain {
      	width: 90%;
      	line-height: 1.4rem;
      	margin-left: auto;
      	margin-right: auto;
      	margin-top: 2rem;
      	padding-bottom: 2rem;
      	color: #555;
      }
      .page-mptcode .explain h2 {
      	font-size: 1rem;
      	color: #555;
      }
      .page-mptcode .explain li {
      	margin-left: 20px;
      	margin-top: 1rem;
      }
    </style>
	</head>
<body>
  <div class="page-mptcode">
    <a class="logo" href="/"></a>
    <input id="ipt" placeholder="请输入PT码"/>
    <p class="ts" id="ts"></p>
    <a id="btn" class="btn" href="javascript:;">验证</a>
       <div class="explain">
    		<h2>为了充分保障您的权益，请在使用PT码前了解以下内容：</h2>
    		<ol>
    			<li>
    				<p>如果遇到PT码无法识别的情况，请及时联系
     客服：400-651-6161；</p>
    			</li>
    			<li>
    				<p>凭PT码购买商品，需要根据PT码的使用规则   
     一次性付款完成整个流程，不可与非PT码的  
     优惠券同时使用;
</p>
    			</li>
    			<li>
    				<p>PT码不可重复使用，支付完成后，该码立即
    失效；</p>
    			</li>
    			<li>
    				<p>凭PT码购买时，取消订单或退货时，将退还 
    您实际支付的金额；</p>
    			</li>
    			<li>
    				<p>PT码在您登录葡萄账号并验证成功后，就与
    您的账号进行绑定，直到付款成功或过使用
    时效；</p>
    			</li>
    			<li>
    				<p>PT码非实名认证，请妥善保管，我们对人为
    原因造成的损失不承担任何责任。</p>
    			</li>
    		</ol>
    </div>
  </div>
  <script src="<%=helpers.staticurl('/js/lib/jquery.min.js')%>"></script>
  <script>
	var uid = "<%=uid%>";
	var token = "<%=token%>";
	var sign = "<%=sign%>";
	$(function() {
		var $btn = $('#btn');
		var $ipt = $('#ipt');
		var $p = $('#ts');
		var isClick = false;
		
		$btn.click(function() {
			if(isClick) {
				return;
			}
			var value = $ipt.val();
			if(!value) {
				$ipt.addClass('err');
				$p.html('PT码不能为空');
			} else {
				$btn.removeClass('on');
				$btn.html('正在验证您的PT码...');
				isClick = true;
				$.ajax({
					type: "post",
//					url: "http://web-store-test.ptdev.cn/code/pt",
					url: 'http://m-store.putao.com/code/pt',
					data: {
						code: value,
						uid: uid,
						token: token,
						sign: sign
					},
					success: function(data) {
						var _data = JSON.parse(data);
						var http_code = _data.http_code;
						if(http_code == '40012') {
							$ipt.addClass('err');
							$p.html('请先登录');
						} else if(http_code == 200) {
							var code_activity_id = _data.data.code_activity_id;
							window.location.href = "/m_ptcode/caption?type="+code_activity_id+"";
						} else {
							$ipt.addClass('err');
							$p.html(_data.msg);
						}
						$btn.addClass('on');
						$btn.html('验证PT码');
						isClick = false;
					},
					error: function() {
						$p.html('验证失败,请稍候在试');
						$ipt.addClass('err');
						$btn.addClass('on');
						$btn.html('验证PT码');
						isClick = false;
					}
				});
			}
		})
	});
</script>
</body>
</html>
