<div class="container">
	<div class="buynow">
		<span>奇妙电路</span>
		<a href="http://m-store.putao.com/choose/qimiaodianlu">立即购买</a>
	</div>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_01.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_02.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_03.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_04.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_05.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_06.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_07.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_08.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_09.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/circuit/circuit_10.jpg')%>"/>
</div>