<% include ./header %>
<div class="container del-h" style="background-color: #fff;">
    <!-- 顶部banner -->
    <% if(brand_show) { %>
        <% if(brand_show.length > 1) { %>
        <div class="swiper">
            <div class="swiper-wrapper">
                <% brand_show.forEach(function(item, $index) { %>
                <div class="swiper-slide">
                    <div style="height: 5.8597rem;background: url('<%=helpers.drawImage(item.extension_3)%>') center no-repeat;background-size: cover; display: block;"></div>
                </div>
                <% }) %>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <% } else { %>
        <div class="single-banner">
            <% brand_show.forEach(function(item) { %>
            <div class="slide">
                <div style="height: 5.8597rem;background: url('<%=helpers.drawImage(item.extension_3)%>') center no-repeat;background-size: cover; display: block;"></div>
            </div>
            <% }) %>
        </div>
        <% } %>
    <% } %>
    <div class="b-main">
        <div class="title" style="background-color: #f1f1f1;"><%= _title %></div>
        <% if(brand_show && brand_show[0]) { %>
            <section>
                <div class="banner">
                    <p><%= brand_show[0].name %></p>
                    <h6 style="font-size: .28rem;color: #333;"><%= brand_show[0].description %></h6>
                </div>
                <div class="content"><%- brand_show[0].basic_content%></div>
            </section>
        <% } %>
    </div>
</div>
<% include ./footer %>