<div class="container">
	<div class="buynow">
		<span>淘淘向右走</span>
		<a href="http://m-store.putao.com/choose/taotaoxiangyouzou">立即购买</a>
	</div>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_01.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_02.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_03.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_04.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_05.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_06.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_07.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_08.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_09.jpg')%>"/>
	<img class="img_dt" src="<%=helpers.staticurl_m('/images/ttxyz/ttxyz_10.jpg')%>"/>
</div>