<div class="container">
    <div class="buynow">
        <span>淘淘与魔豆</span>
        <a href="<%=helpers.devurl_m('/choose/mofang')%>">立即购买</a>
    </div>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/ttmd/ttmd_01.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/ttmd/ttmd_02.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/ttmd/ttmd_03.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/ttmd/ttmd_04.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/ttmd/ttmd_05.jpg')%>"/>
    <img class="img_dt" src="<%=helpers.staticurl_m('/images/ttmd/ttmd_06.jpg')%>"/>
</div>